#%RAML 1.0
title: 2015 HMIS API
version: 1.0.1
mediaType: application/json
protocols:
  - HTTPS
baseUri: 'https://www.hmislynk.com/hmis-clientapi-v2015/rest'
securitySchemes:
  oauth_2_0:
    description: |
      The HMIS API supports OAuth 2.0 for authenticating all API requests.
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://hmislynk.com/hmis-authorization-service/rest/authorize'
      accessTokenUri: 'https://hmislynk.com/hmis-authorization-service/rest/token'
      authorizationGrants:
        - password
      scopes:
        - user
        - administrator
    describedBy:
      responses:
        '401':
          description: |
            Bad or expired token. This can happen if the user or the HMIS
            revoked or expired an access token. To fix, you should re-
            authenticate the user.
        '403':
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
      headers:
        Authorization:
          description: |
            Used to send a valid OAuth 2 access token. Do not use
            an "access_token" query string parameter.
          type: string
types:
  affiliation_id_json:
    type: object
    properties:
      affiliation:
        type: object
        properties:
          affiliationId:
            type: string
          resprojectid:
            type: string
          dateCreated:
            type: string
          dateUpdated:
            type: string
  affiliations_ids_json:
    type: object
    properties:
      affiliations:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          affiliations:
            type: array
            items:
              type: object
              properties:
                affiliationId:
                  type: string
                  required: false
                resprojectid:
                  type: string
                  required: false
                dateCreated:
                  type: string
                  required: false
  affiliations_json:
    type: object
    properties:
      affiliation:
        type: object
        properties:
          resprojectid:
            type: string
  client_id_json:
    type: object
    properties:
      client:
        type: object
        properties:
          clientId:
            type: string
          firstName:
            type: string
          middleName:
            type: string
          lastName:
            type: string
          nameSuffix:
            type: string
          nameDataQuality:
            type: integer
          ssn:
            type: string
          ssnDataQuality:
            type: integer
          dob:
            type: integer
          dobDataQuality:
            type: integer
          race:
            type: integer
          ethnicity:
            type: integer
          gender:
            type: integer
          otherGender:
            type: string
          veteranStatus:
            type: string
          phoneNumber:
            type: string
          emailAddress:
            type: string
  clients_ids_json:
    type: string
  clients_json:
    type: object
    properties:
      client:
        type: object
        properties:
          firstName:
            type: string
          middleName:
            type: string
          lastName:
            type: string
          nameSuffix:
            type: string
          nameDataQuality:
            type: integer
          ssn:
            type: string
          ssnDataQuality:
            type: integer
          dob:
            type: integer
          dobDataQuality:
            type: integer
          race:
            type: integer
          ethnicity:
            type: integer
          gender:
            type: integer
          otherGender:
            type: string
          veteranStatus:
            type: integer
          sourceSystemId:
            type: string
            required: false
          phoneNumber:
            type: string
          emailAddress:
            type: string
  contact_id_json:
    type: object
    properties:
      contact:
        type: object
        properties:
          contactId:
            type: string
          contactLocation:
            type: integer
  contact_ids_json:
    type: object
    properties:
      contacts:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          contacts:
            type: array
            items:
              type: object
              properties:
                contactId:
                  type: string
                contactLocation:
                  type: integer
  contact_json:
    type: object
    properties:
      contact:
        type: object
        properties:
          contactLocation:
            type: integer
  dateofengagements_id_json:
    type: object
    properties:
      dateofengagement:
        type: object
        properties:
          dateofengagementId:
            type: string
          dateofengagement:
            type: string
  dateofengagements_ids_json:
    type: object
    properties:
      dateofengagements:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          dateofengagements:
            type: array
            items:
              type: object
              properties:
                dateofengagementId:
                  type: string
                  required: false
                dateofengagement:
                  type: string
                  required: false
  dateofengagements_json:
    type: object
    properties:
      dateofengagement:
        type: object
        properties:
          dateofengagement:
            type: string
  disabilities_id_json:
    type: object
    properties:
      disabilities:
        type: object
        properties:
          disabilitiesId:
            type: string
          disabilitytype:
            type: integer
          disabilityresponse:
            type: integer
          indefiniteandimpairs:
            type: integer
          documentationonfile:
            type: integer
          receivingservices:
            type: integer
          pathhowconfirmed:
            type: integer
          pathsmiinformation:
            type: integer
          tcellcountavailable:
            type: integer
          tcellcount:
            type: integer
          tcellcountsource:
            type: string
          viralLoadAvailable:
            type: integer
          viralLoad:
            type: integer
          viralLoadSource:
            type: string
          informationDate:
            type: string
  disabilities_ids_json:
    type: object
    properties:
      disabilitiesList:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          disabilitiesList:
            type: array
            items:
              type: object
              properties:
                disabilitiesId:
                  type: string
                disabilitytype:
                  type: integer
                disabilityresponse:
                  type: integer
                indefiniteandimpairs:
                  type: integer
                documentationonfile:
                  type: integer
                receivingservices:
                  type: integer
                pathhowconfirmed:
                  type: integer
                pathsmiinformation:
                  type: integer
                tcellcountavailable:
                  type: integer
                tcellcount:
                  type: integer
                tcellcountsource:
                  type: string
                viralLoadAvailable:
                  type: integer
                viralLoad:
                  type: integer
                viralLoadSource:
                  type: string
                informationDate:
                  type: string
  disabilities_json:
    type: object
    properties:
      disabilities:
        type: object
        properties:
          disabilitytype:
            type: integer
          disabilityresponse:
            type: integer
          documentationonfile:
            type: integer
          indefiniteandimpairs:
            type: integer
          pathhowconfirmed:
            type: integer
          receivingservices:
            type: integer
          pathsmiinformation:
            type: integer
          tcellcountavailable:
            type: integer
          tcellcount:
            type: integer
          tcellcountsource:
            type: integer
          viralLoadAvailable:
            type: integer
          viralLoad:
            type: integer
          viralLoadSource:
            type: string
          informationDate:
            type: string
  domesticviolence_id_json:
    type: object
    properties:
      domesticviolence:
        type: object
        properties:
          domesticviolenceId:
            type: string
          domesticviolencevictim:
            type: integer
          whenoccurred:
            type: integer
          currentlyFleeing:
            type: integer
  domesticviolence_ids_json:
    type: object
    properties:
      domesticviolences:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          domesticviolences:
            type: array
            items:
              type: object
              properties:
                domesticviolenceId:
                  type: string
                domesticviolencevictim:
                  type: integer
                whenoccurred:
                  type: integer
                currentlyFleeing:
                  type: integer
  domesticviolence_json:
    type: object
    properties:
      domesticviolence:
        type: object
        properties:
          domesticviolencevictim:
            type: integer
          whenoccurred:
            type: integer
          currentlyFleeing:
            type: integer
  education_ids_json:
    type: object
    properties:
      educations:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          educations:
            type: array
            items:
              type: object
              properties:
                educationId:
                  type: string
                lastgradecompleted:
                  type: integer
                schoolStatus:
                  type: integer
  education_id_json:
    type: object
    properties:
      education:
        type: object
        properties:
          educationId:
            type: string
          lastgradecompleted:
            type: integer
          schoolStatus:
            type: integer
  education_json:
    type: object
    properties:
      education:
        type: object
        properties:
          lastgradecompleted:
            type: integer
          schoolStatus:
            type: integer
  employment_id_json:
    type: object
    properties:
      employment:
        type: object
        properties:
          employmentId:
            type: string
          employed:
            type: integer
          employmentType:
            type: integer
          notEmployedReason:
            type: integer
          informationDate:
            type: string
  employments_ids_json:
    type: object
    properties:
      employments:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          employments:
            type: array
            items:
              type: object
              properties:
                employmentId:
                  type: string
                employed:
                  type: integer
                employmentType:
                  type: integer
                notEmployedReason:
                  type: integer
                informationDate:
                  type: string
  employments_json:
    type: object
    properties:
      employment:
        type: object
        properties:
          employed:
            type: integer
          employmentType:
            type: integer
          notEmployedReason:
            type: integer
          informationDate:
            type: string
  enrollment_id_json:
    type: object
    properties:
      enrollment:
        type: object
        properties:
          enrollmentId:
            type: string
          disablingcondition:
            type: integer
          entrydate:
            type: integer
          householdid:
            type: string
          housingstatus:
            type: integer
          monthshomelesspastthreeyears:
            type: integer
          otherresidenceprior:
            type: string
          relationshiptohoh:
            type: integer
          residenceprior:
            type: integer
          residencepriorlengthofstay:
            type: integer
          timeshomelesspastthreeyears:
            type: integer
          yearshomeless:
            type: integer
          entryfromstreetessh:
            type: integer
          dateCreated:
            type: string
          dateUpdated:
            type: string
  enrollmentcoc_id_json:
    type: object
    properties:
      enrollmentCoc:
        type: object
        properties:
          enrollmentCocId:
            type: string
          clientCode:
            type: string
          informationDate:
            type: string
  enrollmentcoc_ids_json:
    type: object
    properties:
      enrollmentCocs:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          enrollmentCocs:
            type: array
            items:
              type: object
              properties:
                enrollmentCocId:
                  type: string
                clientCode:
                  type: string
                informationDate:
                  type: string
  enrollmentcoc_json:
    type: object
    properties:
      enrollmentCoc:
        type: object
        properties:
          informationDate:
            type: string
          clientCode:
            type: string
  enrollments_ids_json:
    type: object
    properties:
      enrollments:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          enrollments:
            type: array
            items:
              type: object
              properties:
                enrollmentId:
                  type: string
                disablingcondition:
                  type: integer
                entrydate:
                  type: integer
                householdid:
                  type: string
                housingstatus:
                  type: integer
                monthshomelesspastthreeyears:
                  type: integer
                otherresidenceprior:
                  type: string
                relationshiptohoh:
                  type: integer
                residenceprior:
                  type: integer
                residencepriorlengthofstay:
                  type: integer
                timeshomelesspastthreeyears:
                  type: integer
                yearshomeless:
                  type: integer
                entryfromstreetessh:
                  type: integer
                dateCreated:
                  type: string
  enrollments_json:
    type: object
    properties:
      enrollment:
        type: object
        properties:
          continuouslyhomelessoneyear:
            type: integer
          disablingcondition:
            type: integer
          entrydate:
            type: integer
          householdid:
            type: string
          housingstatus:
            type: integer
          monthshomelesspastthreeyears:
            type: integer
          monthshomelessthistime:
            type: integer
          otherresidenceprior:
            type: string
          personalid:
            type: string
          projectentryid:
            type: string
          projectid:
            type: string
          relationshiptohoh:
            type: integer
          residenceprior:
            type: integer
          residencepriorlengthofstay:
            type: integer
          statusdocumented:
            type: integer
          timeshomelesspastthreeyears:
            type: integer
          yearshomeless:
            type: integer
          entryfromstreetessh:
            type: integer
          datetostreetessh:
            type: integer
  entryrhsp_id_json:
    type: object
    properties:
      entryrhsp:
        type: object
        properties:
          entryrhspId:
            type: string
          worstHousingSituation:
            type: integer
  entryrhsp_ids_json:
    type: object
    properties:
      entryrhsps:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          entryrhsps:
            type: array
            items:
              type: object
              properties:
                entryrhspId:
                  type: string
                worstHousingSituation:
                  type: integer
  entryrhsp_json:
    type: object
    properties:
      entryrhsp:
        type: object
        properties:
          worstHousingSituation:
            type: integer
  entryrhy_id_json:
    type: object
    properties:
      entryrhy:
        type: object
        properties:
          entryrhyId:
            type: string
          formerlyWardChildWelfrForestCare:
            type: integer
          yearsChildWelfrForestCare:
            type: integer
          monthsChildWelfrForestCare:
            type: integer
          formerlyWardOfJuvenileJustice:
            type: integer
          yearsJuvenileJustice:
            type: integer
          houseHoldDynamics:
            type: integer
          sexualOrientatiionGenderIdentityYouth:
            type: integer
          sexualOrientatiionGenderIdentityFamilyMbr:
            type: integer
          housingIssuesYouth:
            type: integer
          housingIssuesFamilyMbr:
            type: integer
          schoolEducationIssuesYouth:
            type: integer
          schoolEducationIssuesFamilyMbr:
            type: integer
          unemployementYouth:
            type: integer
          unemployementFamilyMbr:
            type: integer
          mentalHealthIssuesYouth:
            type: integer
          mentalHealthIssuesFamilyMbr:
            type: integer
          healthIssuesYouth:
            type: integer
          healthIssuesFamilyMbr:
            type: integer
          physicalDisabilityYouth:
            type: integer
          physicalDisabilityFamilyMbr:
            type: integer
          mentalDisabilityYouth:
            type: integer
          mentalDisabilityFamilyMbr:
            type: integer
          abuseAndNeglectYouth:
            type: integer
          abuseAndNeglectFamilyMbr:
            type: integer
          alcoholDrugAbuseYouth:
            type: integer
          alcoholDrugAbuseFamilyMbr:
            type: integer
          insufficientIncomeToSupportYouth:
            type: integer
          activeMilitaryParent:
            type: integer
          incarceratedParent:
            type: integer
          incarceratedParentStatus:
            type: integer
          referralSource:
            type: integer
          countOutReachReferralApproaches:
            type: integer
          exchangeForSex:
            type: integer
          exchangeForSexPastThreeMonths:
            type: integer
          countOfExchangeForSex:
            type: integer
          askedOfForcedToExchangeForSex:
            type: integer
          askedOfForcedToExchangeForSexPastThreeMonths:
            type: integer
          workPlaceViolenceThreat:
            type: integer
          workPlacePromiseDifference:
            type: integer
          coercedToContinueWork:
            type: integer
          laborExploitPastThreeMonths:
            type: integer
  entryrhy_ids_json:
    type: object
    properties:
      entryrhys:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          entryrhys:
            type: array
            items:
              type: object
              properties:
                entryrhyId:
                  type: string
                formerlyWardChildWelfrForestCare:
                  type: integer
                yearsChildWelfrForestCare:
                  type: integer
                monthsChildWelfrForestCare:
                  type: integer
                formerlyWardOfJuvenileJustice:
                  type: integer
                yearsJuvenileJustice:
                  type: integer
                houseHoldDynamics:
                  type: integer
                sexualOrientatiionGenderIdentityYouth:
                  type: integer
                sexualOrientatiionGenderIdentityFamilyMbr:
                  type: integer
                housingIssuesYouth:
                  type: integer
                housingIssuesFamilyMbr:
                  type: integer
                schoolEducationIssuesYouth:
                  type: integer
                schoolEducationIssuesFamilyMbr:
                  type: integer
                unemployementYouth:
                  type: integer
                unemployementFamilyMbr:
                  type: integer
                mentalHealthIssuesYouth:
                  type: integer
                mentalHealthIssuesFamilyMbr:
                  type: integer
                healthIssuesYouth:
                  type: integer
                healthIssuesFamilyMbr:
                  type: integer
                physicalDisabilityYouth:
                  type: integer
                physicalDisabilityFamilyMbr:
                  type: integer
                mentalDisabilityYouth:
                  type: integer
                mentalDisabilityFamilyMbr:
                  type: integer
                abuseAndNeglectYouth:
                  type: integer
                abuseAndNeglectFamilyMbr:
                  type: integer
                alcoholDrugAbuseYouth:
                  type: integer
                alcoholDrugAbuseFamilyMbr:
                  type: integer
                insufficientIncomeToSupportYouth:
                  type: integer
                activeMilitaryParent:
                  type: integer
                incarceratedParent:
                  type: integer
                incarceratedParentStatus:
                  type: integer
                referralSource:
                  type: integer
                countOutReachReferralApproaches:
                  type: integer
                exchangeForSex:
                  type: integer
                exchangeForSexPastThreeMonths:
                  type: integer
                countOfExchangeForSex:
                  type: integer
                askedOfForcedToExchangeForSex:
                  type: integer
                askedOfForcedToExchangeForSexPastThreeMonths:
                  type: integer
                workPlaceViolenceThreat:
                  type: integer
                workPlacePromiseDifference:
                  type: integer
                coercedToContinueWork:
                  type: integer
                laborExploitPastThreeMonths:
                  type: integer
  entryrhy_json:
    type: object
    properties:
      entryrhy:
        type: object
        properties:
          formerlyWardChildWelfrForestCare:
            type: integer
          yearsChildWelfrForestCare:
            type: integer
          monthsChildWelfrForestCare:
            type: integer
          formerlyWardOfJuvenileJustice:
            type: integer
          yearsJuvenileJustice:
            type: integer
          houseHoldDynamics:
            type: integer
          sexualOrientatiionGenderIdentityYouth:
            type: integer
          sexualOrientatiionGenderIdentityFamilyMbr:
            type: integer
          housingIssuesYouth:
            type: integer
          housingIssuesFamilyMbr:
            type: integer
          schoolEducationIssuesYouth:
            type: integer
          schoolEducationIssuesFamilyMbr:
            type: integer
          unemployementYouth:
            type: integer
          unemployementFamilyMbr:
            type: integer
          mentalHealthIssuesYouth:
            type: integer
          mentalHealthIssuesFamilyMbr:
            type: integer
          healthIssuesYouth:
            type: integer
          healthIssuesFamilyMbr:
            type: integer
          physicalDisabilityYouth:
            type: integer
          physicalDisabilityFamilyMbr:
            type: integer
          mentalDisabilityYouth:
            type: integer
          mentalDisabilityFamilyMbr:
            type: integer
          abuseAndNeglectYouth:
            type: integer
          abuseAndNeglectFamilyMbr:
            type: integer
          alcoholDrugAbuseYouth:
            type: integer
          alcoholDrugAbuseFamilyMbr:
            type: integer
          insufficientIncomeToSupportYouth:
            type: integer
          activeMilitaryParent:
            type: integer
          incarceratedParent:
            type: integer
          incarceratedParentStatus:
            type: integer
          referralSource:
            type: integer
          countOutReachReferralApproaches:
            type: integer
          exchangeForSex:
            type: integer
          exchangeForSexPastThreeMonths:
            type: integer
          countOfExchangeForSex:
            type: integer
          askedOfForcedToExchangeForSex:
            type: integer
          askedOfForcedToExchangeForSexPastThreeMonths:
            type: integer
          workPlaceViolenceThreat:
            type: integer
          workPlacePromiseDifference:
            type: integer
          coercedToContinueWork:
            type: integer
          laborExploitPastThreeMonths:
            type: integer
  entryssvf_id_json:
    type: object
    properties:
      entryssvf:
        type: object
        properties:
          entryssvfId:
            type: string
          percentami:
            type: integer
          lastPermanentStreet:
            type: string
          lastPermanentCity:
            type: string
          lastPermanentState:
            type: string
          lastPermanentZip:
            type: string
          addressDataQuality:
            type: integer
          hpScreenScore:
            type: integer
          vamcStaction:
            type: string
  entryssvf_ids_json:
    type: object
    properties:
      entryssvfs:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          entryssvfs:
            type: array
            items:
              type: object
              properties:
                entryssvfId:
                  type: string
                percentami:
                  type: integer
                lastPermanentStreet:
                  type: string
                lastPermanentCity:
                  type: string
                lastPermanentState:
                  type: string
                lastPermanentZip:
                  type: string
                addressDataQuality:
                  type: integer
                hpScreenScore:
                  type: integer
                vamcStaction:
                  type: string
  entryssvf_json:
    type: object
    properties:
      entryssvf:
        type: object
        properties:
          percentami:
            type: integer
          lastPermanentStreet:
            type: string
          lastPermanentCity:
            type: string
          lastPermanentState:
            type: string
          lastPermanentZip:
            type: string
          addressDataQuality:
            type: integer
          hpScreenScore:
            type: integer
          vamcStaction:
            type: string
  exit_id_json:
    type: object
    properties:
      exit:
        type: object
        properties:
          exitId:
            type: string
          exitDate:
            type: integer
          otherDestination:
            type: string
          destination:
            type: integer
          dateCreated:
            type: string
          dateUpdated:
            type: string
  exit_ids_json:
    type: object
    properties:
      exits:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          exits:
            type: array
            items:
              type: object
              properties:
                exitId:
                  type: string
                exitDate:
                  type: integer
                otherDestination:
                  type: string
                destination:
                  type: integer
                dateCreated:
                  type: string
  exit_json:
    type: object
    properties:
      exit:
        type: object
        properties:
          exitDate:
            type: integer
          otherDestination:
            type: string
          destination:
            type: integer
  exithosingassessments_id_json:
    type: object
    properties:
      exithousingassessment:
        type: object
        properties:
          exithousingassessmentId:
            type: string
          housingassessment:
            type: integer
          subsidyinformation:
            type: integer
  exithosingassessments_ids_json:
    type: object
    properties:
      exithousingassessments:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          exithousingassessments:
            type: array
            items:
              type: object
              properties:
                exithousingassessmentId:
                  type: string
                housingassessment:
                  type: integer
                subsidyinformation:
                  type: integer
  exithosingassessments_json:
    type: object
    properties:
      exithousingassessment:
        type: object
        properties:
          housingassessment:
            type: integer
          subsidyinformation:
            type: integer
  exitpath_id_json:
    type: object
    properties:
      exitpath:
        type: object
        properties:
          exitpathId:
            type: string
  exitpath_ids_json:
    type: object
    properties:
      exitpaths:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          exitpaths:
            type: array
            items:
              type: object
              properties:
                exitpathId:
                  type: string
                connectionWithSoar:
                  type: integer
  exitpath_json:
    type: object
    properties:
      exitpath:
        type: object
        properties:
          connectionWithSoar:
            type: integer
  exitrhy_id_json:
    type: object
    properties:
      entryrhy:
        type: object
        properties:
          exitrhyId:
            type: string
          sexualOrientation:
            type: integer
          formerlyWardChildWelfrForestCare:
            type: integer
          yearsChildWelfrForestCare:
            type: integer
          monthsChildWelfrForestCare:
            type: integer
          formerlyWardOfJuvenileJustice:
            type: integer
          yearsJuvenileJustice:
            type: integer
          houseHoldDynamics:
            type: integer
          sexualOrientatiionGenderIdentityYouth:
            type: integer
          sexualOrientatiionGenderIdentityFamilyMbr:
            type: integer
          housingIssuesYouth:
            type: integer
          housingIssuesFamilyMbr:
            type: integer
          schoolEducationIssuesYouth:
            type: integer
          schoolEducationIssuesFamilyMbr:
            type: integer
          unemployementYouth:
            type: integer
          unemployementFamilyMbr:
            type: integer
          mentalHealthIssuesYouth:
            type: integer
          mentalHealthIssuesFamilyMbr:
            type: integer
          healthIssuesYouth:
            type: integer
          healthIssuesFamilyMbr:
            type: integer
          physicalDisabilityYouth:
            type: integer
          physicalDisabilityFamilyMbr:
            type: integer
          mentalDisabilityYouth:
            type: integer
          mentalDisabilityFamilyMbr:
            type: integer
          abuseAndNeglectYouth:
            type: integer
          abuseAndNeglectFamilyMbr:
            type: integer
          alcoholDrugAbuseYouth:
            type: integer
          alcoholDrugAbuseFamilyMbr:
            type: integer
          insufficientIncomeToSupportYouth:
            type: integer
          activeMilitaryParent:
            type: integer
          incarceratedParent:
            type: integer
          incarceratedParentStatus:
            type: integer
          referralSource:
            type: integer
          countOutReachReferralApproaches:
            type: integer
          exchangeForSex:
            type: integer
          exchangeForSexPastThreeMonths:
            type: integer
          countOfExchangeForSex:
            type: integer
          askedOfForcedToExchangeForSex:
            type: integer
          askedOfForcedToExchangeForSexPastThreeMonths:
            type: integer
          workPlaceViolenceThreat:
            type: integer
          workPlacePromiseDifference:
            type: integer
          coercedToContinueWork:
            type: integer
          laborExploitPastThreeMonths:
            type: integer
        required: false
  exitrhy_ids_json:
    type: object
    properties:
      exitrhys:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          exitrhys:
            type: array
            items:
              type: object
              properties:
                exitrhyId:
                  type: string
                projectCompletionStatus:
                  type: integer
                earlyExitReason:
                  type: integer
                familyReunificationAchieved:
                  type: integer
                writtenAfterCarePlan:
                  type: integer
                assistanceMainStreamBenefits:
                  type: integer
                permenantHousingPlacement:
                  type: integer
                tempShelterPlacement:
                  type: integer
                exitCounseling:
                  type: integer
                furtherFollowupServices:
                  type: integer
                scheduledFollowupContacts:
                  type: integer
                resourcePackage:
                  type: integer
                otherAftercarePlanOrAction:
                  type: integer
  exitrhy_json:
    type: object
    properties:
      exitrhy:
        type: object
        properties:
          projectCompletionStatus:
            type: integer
          earlyExitReason:
            type: integer
          familyReunificationAchieved:
            type: integer
          writtenAfterCarePlan:
            type: integer
          assistanceMainStreamBenefits:
            type: integer
          permenantHousingPlacement:
            type: integer
          tempShelterPlacement:
            type: integer
          exitCounseling:
            type: integer
          furtherFollowupServices:
            type: integer
          scheduledFollowupContacts:
            type: integer
          resourcePackage:
            type: integer
          otherAftercarePlanOrAction:
            type: integer
  funder_id_json:
    type: object
    properties:
      funder:
        type: object
        properties:
          funderId:
            type: string
          funder:
            type: integer
          grantid:
            type: string
          dateCreated:
            type: string
          dateUpdated:
            type: string
          enddate:
            type: string
          startdate:
            type: string
  funders_ids_json:
    type: object
    properties:
      funders:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          funders:
            type: array
            items:
              type: object
              properties:
                funderId:
                  type: string
                funder:
                  type: integer
                grantid:
                  type: string
                dateCreated:
                  type: string
                enddate:
                  type: string
                startdate:
                  type: string
  funders_json:
    type: object
    properties:
      funder:
        type: object
        properties:
          enddate:
            type: string
          funder:
            type: integer
          grantid:
            type: string
          startdate:
            type: string
  healthinsurance_id_json:
    type: object
    properties:
      healthinsurance:
        type: object
        properties:
          healthinsuranceId:
            type: string
          insurancefromanysource:
            type: integer
          medicaid:
            type: integer
          nomedicaidreason:
            type: integer
          medicare:
            type: integer
          nomedicarereason:
            type: integer
          schip:
            type: integer
          noschipreason:
            type: integer
          novamedreason:
            type: integer
          employerprovided:
            type: integer
          noemployerprovidedreason:
            type: integer
          cobra:
            type: integer
          nocobrareason:
            type: integer
          privatepay:
            type: integer
          noprivatepayreason:
            type: integer
          statehealthins:
            type: integer
          nostatehealthinsreason:
            type: integer
          otherSource:
            type: integer
          otherSourceIdentify:
            type: string
  healthinsurance_json:
    type: object
    properties:
      healthinsurance:
        type: object
        properties:
          insurancefromanysource:
            type: integer
          medicaid:
            type: integer
          nomedicaidreason:
            type: integer
          medicare:
            type: integer
          nomedicarereason:
            type: integer
          schip:
            type: integer
          noschipreason:
            type: integer
          vamedicalservices:
            type: integer
          novamedreason:
            type: integer
          employerprovided:
            type: integer
          noemployerprovidedreason:
            type: integer
          cobra:
            type: integer
          nocobrareason:
            type: integer
          privatepay:
            type: integer
          noprivatepayreason:
            type: integer
          statehealthins:
            type: integer
          nostatehealthinsreason:
            type: integer
          otherSource:
            type: integer
          otherSourceIdentify:
            type: string
  healthinsurances_ids_json:
    type: object
    properties:
      healthinsurances:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          healthinsurances:
            type: array
            items:
              type: object
              properties:
                healthinsuranceId:
                  type: string
                insurancefromanysource:
                  type: integer
                medicaid:
                  type: integer
                nomedicaidreason:
                  type: integer
                medicare:
                  type: integer
                nomedicarereason:
                  type: integer
                schip:
                  type: integer
                noschipreason:
                  type: integer
                novamedreason:
                  type: integer
                employerprovided:
                  type: integer
                noemployerprovidedreason:
                  type: integer
                cobra:
                  type: integer
                nocobrareason:
                  type: integer
                privatepay:
                  type: integer
                noprivatepayreason:
                  type: integer
                statehealthins:
                  type: integer
                nostatehealthinsreason:
                  type: integer
                otherSource:
                  type: integer
                otherSourceIdentify:
                  type: string
  healthstatus_id_json:
    type: object
    properties:
      healthstatus:
        type: object
        properties:
          healthstatusId:
            type: string
          healthCategory:
            type: integer
          healthStatus:
            type: integer
          informationDate:
            type: string
          dueDate:
            type: string
  healthstatus_ids_json:
    type: object
    properties:
      healthstatuses:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          healthstatuses:
            type: array
            items:
              type: object
              properties:
                healthstatusId:
                  type: string
                healthCategory:
                  type: integer
                healthStatus:
                  type: integer
                informationDate:
                  type: string
                dueDate:
                  type: string
  healthstatus_json:
    type: object
    properties:
      healthstatus:
        type: object
        properties:
          healthCategory:
            type: integer
          healthStatus:
            type: integer
          informationDate:
            type: string
          dueDate:
            type: string
  housingassesmentdispositions_id_json:
    type: object
    properties:
      housingAssessmentDisposition:
        type: object
        properties:
          housingAssessmentDispositionId:
            type: string
          assessmentdisposition:
            type: integer
          otherdisposition:
            type: string
          dateCreated:
            type: string
          dateUpdated:
            type: string
  housingassesmentdispositions_ids_json:
    type: object
    properties:
      HousingAssessmentDispositions:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          housingAssessmentDispositions:
            type: array
            items:
              type: object
              properties:
                housingAssessmentDispositionId:
                  type: string
                assessmentdisposition:
                  type: integer
                otherdisposition:
                  type: string
                dateCreated:
                  type: string
  housingassesmentdispositions_json:
    type: object
    properties:
      housingAssessmentDisposition:
        type: object
        properties:
          assessmentdisposition:
            type: integer
          otherdisposition:
            type: string
  id_affiliation_json:
    type: object
    properties:
      affiliation:
        type: object
        properties:
          affiliationId:
            type: string
  id_clients_json:
    type: object
    properties:
      client:
        type: object
        properties:
          clientId:
            type: string
  id_contact_json:
    type: object
    properties:
      contact:
        type: object
        properties:
          contactId:
            type: string
  id_dateofengagements_json:
    type: object
    properties:
      dateofengagement:
        type: object
        properties:
          dateofengagementId:
            type: string
  id_disabilities_json:
    type: object
    properties:
      disabilities:
        type: object
        properties:
          disabilitiesId:
            type: string
  id_domesticviolences_json:
    type: object
    properties:
      domesticviolence:
        type: object
        properties:
          domesticviolenceId:
            type: string
  id_education_json:
    type: object
    properties:
      education:
        type: object
        properties:
          educationId:
            type: string
  id_employments_json:
    type: object
    properties:
      employment:
        type: object
        properties:
          employmentId:
            type: string
  id_enrollmentcoc_json:
    type: object
    properties:
      enrollmentCoc:
        type: object
        properties:
          enrollmentCocId:
            type: string
  id_enrollments_json:
    type: object
    properties:
      enrollment:
        type: object
        properties:
          enrollmentId:
            type: string
          yearshomeless:
            type: integer
  id_entryrhsp_json:
    type: object
    properties:
      entryrhsp:
        type: object
        properties:
          entryrhspId:
            type: string
  id_entryrhy_json:
    type: object
    properties:
      entryrhy:
        type: object
        properties:
          entryrhyId:
            type: string
  id_entryssvf_json:
    type: object
    properties:
      entryssvf:
        type: object
        properties:
          entryssvfId:
            type: string
  id_exithousingassesment_json:
    type: object
    properties:
      exithousingassessment:
        type: object
        properties:
          exithousingassessmentId:
            type: string
  id_exitpath_json:
    type: object
    properties:
      exitpath:
        type: object
        properties:
          exitpathId:
            type: string
  id_exitrhy_json:
    type: object
    properties:
      exitrhy:
        type: object
        properties:
          exitrhyId:
            type: string
  id_exits_json:
    type: object
    properties:
      exit:
        type: object
        properties:
          exitId:
            type: string
  id_funders_json:
    type: object
    properties:
      funder:
        type: object
        properties:
          funderId:
            type: string
  id_healthinsurance_json:
    type: object
    properties:
      healthinsurance:
        type: object
        properties:
          healthinsuranceId:
            type: string
  id_healthstatus_json:
    type: object
    properties:
      healthstatus:
        type: object
        properties:
          healthstatusId:
            type: string
  id_housingassesmentdispositions_json:
    type: object
    properties:
      housingAssessmentDisposition:
        type: object
        properties:
          housingAssessmentDispositionId:
            type: string
  id_incomeandsources_json:
    type: object
    properties:
      incomeAndSource:
        type: object
        properties:
          incomeAndSourceId:
            type: string
          alimonyamount:
            type: integer
          childsupportamount:
            type: integer
          earnedamount:
            type: integer
          gaamount:
            type: integer
          othersourceamount:
            type: integer
          pensionamount:
            type: integer
          privatedisabilityamount:
            type: integer
          socsecretirementamount:
            type: integer
          ssdiamount:
            type: integer
          ssiamount:
            type: integer
          tanfamount:
            type: integer
          totalmonthlyincome:
            type: integer
          unemploymentamount:
            type: integer
          vadisabilitynonserviceamount:
            type: integer
          vadisabilityserviceamount:
            type: integer
          workerscompamount:
            type: integer
  id_inventories_json:
    type: object
    properties:
      inventory:
        type: object
        properties:
          inventoryId:
            type: string
  id_medicalassistances_json:
    type: object
    properties:
      medicalassistance:
        type: object
        properties:
          medicalassistanceId:
            type: string
  id_noncashbenefits_json:
    type: object
    properties:
      noncashbenefits:
        type: object
        properties:
          noncashbenefitsID:
            type: string
  id_organization_json:
    type: object
    properties:
      organization:
        type: object
        properties:
          organizationId:
            type: string
          organizationName:
            type: string
          organizationCommonName:
            type: string
  id_pathstatus_json:
    type: object
    properties:
      pathstatus:
        type: object
        properties:
          pathstatusId:
            type: string
  id_projectcoc_json:
    type: object
    properties:
      projectcoc:
        type: object
        properties:
          projectcocId:
            type: string
  id_projects_json:
    type: object
    properties:
      project:
        type: object
        properties:
          projectId:
            type: string
  id_residentialmoveindate_json:
    type: object
    properties:
      residentialmoveindate:
        type: object
        properties:
          residentialmoveindateId:
            type: string
  id_servicefareferral_json:
    type: object
    properties:
      servicefareferral:
        type: object
        properties:
          servicefareferralId:
            type: string
  id_sites_json:
    type: object
    properties:
      site:
        type: object
        properties:
          siteId:
            type: string
  id_veteraninfo_json:
    type: object
    properties:
      veteranInfo:
        type: object
        properties:
          veteranInfoId:
            type: string
  incomeandsource_id_json:
    type: object
    properties:
      incomeAndSource:
        type: object
        properties:
          incomeAndSourceId:
            type: string
          alimony:
            type: integer
          alimonyamount:
            type: number
          childsupport:
            type: integer
          childsupportamount:
            type: number
          earned:
            type: integer
          earnedamount:
            type: number
          ga:
            type: integer
          gaamount:
            type: number
          incomefromanysource:
            type: integer
          othersource:
            type: integer
          othersourceamount:
            type: number
          othersourceidentify:
            type: string
          pension:
            type: integer
          pensionamount:
            type: number
          privatedisability:
            type: integer
          privatedisabilityamount:
            type: number
          socsecretirement:
            type: integer
          socsecretirementamount:
            type: number
          ssdi:
            type: integer
          ssdiamount:
            type: number
          ssi:
            type: integer
          ssiamount:
            type: number
          tanf:
            type: integer
          tanfamount:
            type: number
          totalmonthlyincome:
            type: number
          unemployment:
            type: integer
          unemploymentamount:
            type: number
          vadisabilitynonservice:
            type: integer
          vadisabilitynonserviceamount:
            type: number
          vadisabilityservice:
            type: integer
          vadisabilityserviceamount:
            type: number
          workerscomp:
            type: integer
          workerscompamount:
            type: number
          dateCreated:
            type: string
          dateUpdated:
            type: string
  incomeandsources_ids_json:
    type: object
    properties:
      IncomeAndSources:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          incomeAndSources:
            type: array
            items:
              type: object
              properties:
                incomeAndSourceId:
                  type: string
                  required: false
                alimony:
                  type: integer
                  required: false
                alimonyamount:
                  type: number
                  required: false
                childsupport:
                  type: integer
                  required: false
                childsupportamount:
                  type: number
                  required: false
                earned:
                  type: integer
                  required: false
                earnedamount:
                  type: number
                  required: false
                ga:
                  type: integer
                  required: false
                gaamount:
                  type: number
                  required: false
                incomefromanysource:
                  type: integer
                  required: false
                othersource:
                  type: integer
                  required: false
                othersourceamount:
                  type: number
                  required: false
                othersourceidentify:
                  type: string
                  required: false
                pension:
                  type: integer
                  required: false
                pensionamount:
                  type: number
                  required: false
                privatedisability:
                  type: integer
                  required: false
                privatedisabilityamount:
                  type: number
                  required: false
                socsecretirement:
                  type: integer
                  required: false
                socsecretirementamount:
                  type: number
                  required: false
                ssdi:
                  type: integer
                  required: false
                ssdiamount:
                  type: number
                  required: false
                ssi:
                  type: integer
                  required: false
                ssiamount:
                  type: number
                  required: false
                tanf:
                  type: integer
                  required: false
                tanfamount:
                  type: number
                  required: false
                totalmonthlyincome:
                  type: number
                  required: false
                unemployment:
                  type: integer
                  required: false
                unemploymentamount:
                  type: number
                  required: false
                vadisabilitynonservice:
                  type: integer
                  required: false
                vadisabilitynonserviceamount:
                  type: number
                  required: false
                vadisabilityservice:
                  type: integer
                  required: false
                vadisabilityserviceamount:
                  type: number
                  required: false
                workerscomp:
                  type: integer
                  required: false
                workerscompamount:
                  type: number
                  required: false
                dateCreated:
                  type: string
                  required: false
  incomeandsource_json:
    type: object
    properties:
      incomeAndSource:
        type: object
        properties:
          alimony:
            type: integer
          alimonyamount:
            type: number
          childsupport:
            type: integer
          childsupportamount:
            type: number
          earned:
            type: integer
          earnedamount:
            type: number
          ga:
            type: integer
          gaamount:
            type: number
          incomefromanysource:
            type: integer
          othersource:
            type: integer
          othersourceamount:
            type: number
          othersourceidentify:
            type: string
          pension:
            type: integer
          pensionamount:
            type: number
          privatedisability:
            type: integer
          privatedisabilityamount:
            type: number
          socsecretirement:
            type: integer
          socsecretirementamount:
            type: number
          ssdi:
            type: integer
          ssdiamount:
            type: number
          ssi:
            type: integer
          ssiamount:
            type: number
          tanf:
            type: integer
          tanfamount:
            type: number
          totalmonthlyincome:
            type: number
          unemployment:
            type: integer
          unemploymentamount:
            type: number
          vadisabilitynonservice:
            type: integer
          vadisabilitynonserviceamount:
            type: number
          vadisabilityservice:
            type: integer
          vadisabilityserviceamount:
            type: number
          workerscomp:
            type: integer
          workerscompamount:
            type: number
  inventories_id_json:
    type: object
    properties:
      inventory:
        type: object
        properties:
          inventoryId:
            type: string
          availabilty:
            type: integer
          bedtype:
            type: integer
          hmisparticipatingbeds:
            type: integer
          householdtype:
            type: integer
          chbedinventory:
            type: integer
          vetbedinventory:
            type: integer
          youthbedinventory:
            type: integer
          youthagegroup:
            type: integer
          unitinventory:
            type: integer
          dateCreated:
            type: string
          dateUpdated:
            type: string
          inventoryenddate:
            type: string
          inventorystartdate:
            type: string
  inventories_ids_json:
    type: object
    properties:
      Inventories:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          inventories:
            type: array
            items:
              type: object
              properties:
                inventoryId:
                  type: string
                availabilty:
                  type: integer
                bedtype:
                  type: integer
                hmisparticipatingbeds:
                  type: integer
                householdtype:
                  type: integer
                chbedinventory:
                  type: integer
                vetbedinventory:
                  type: integer
                youthbedinventory:
                  type: integer
                youthagegroup:
                  type: integer
                unitinventory:
                  type: integer
                dateCreated:
                  type: string
                inventoryenddate:
                  type: string
                inventorystartdate:
                  type: string
  inventories_json:
    type: object
    properties:
      inventory:
        type: object
        properties:
          availabilty:
            type: string
          bedinventory:
            type: string
          bedtype:
            type: integer
          hmisparticipatingbeds:
            type: integer
          householdtype:
            type: integer
          inventoryenddate:
            type: string
          inventorystartdate:
            type: string
          unitinventory:
            type: integer
          chbedinventory:
            type: integer
          vetbedinventory:
            type: integer
          youthbedinventory:
            type: integer
          youthagegroup:
            type: integer
  medicalassistance_json:
    type: object
    properties:
      medicalassistance:
        type: object
        properties:
          adap:
            type: integer
          informationDate:
            type: string
          hivaidsassistance:
            type: integer
          nohivaidsassistancereason:
            type: integer
          noadapreason:
            type: integer
  medicalassistances_ids_json:
    type: object
    properties:
      medicalassistances:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          medicalassistances:
            type: array
            items:
              type: object
              properties:
                medicalassistanceId:
                  type: string
                hivaidsassistance:
                  type: integer
                nohivaidsassistancereason:
                  type: integer
                adap:
                  type: integer
                noadapreason:
                  type: integer
                informationDate:
                  type: string
  medicalassistances_id_json:
    type: object
    properties:
      medicalassistance:
        type: object
        properties:
          medicalassistanceId:
            type: string
          hivaidsassistance:
            type: integer
          nohivaidsassistancereason:
            type: integer
          adap:
            type: integer
          noadapreason:
            type: integer
          informationDate:
            type: string
  noncashbenefits_id_json:
    type: object
    properties:
      noncashbenefits:
        type: object
        properties:
          noncashbenefitsID:
            type: string
          benefitsfromanysource:
            type: integer
          othersource:
            type: integer
          othersourceidentify:
            type: string
          othertanf:
            type: integer
          rentalassistanceongoing:
            type: integer
          rentalassistancetemp:
            type: integer
          snap:
            type: integer
          tanfchildcare:
            type: integer
          tanftransportation:
            type: integer
          wic:
            type: integer
  noncashbenefits_json:
    type: object
    properties:
      noncashbenefits:
        type: object
        properties:
          benefitsfromanysource:
            type: integer
          othersource:
            type: integer
          othertanf:
            type: integer
          rentalassistanceongoing:
            type: integer
          rentalassistancetemp:
            type: integer
          snap:
            type: integer
          tanfchildcare:
            type: integer
          tanftransportation:
            type: integer
          wic:
            type: integer
          othersourceidentify:
            type: string
  noncashbenefits_ids_json:
    type: object
    properties:
      noncashbenefitsList:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          noncashbenefitsList:
            type: array
            items:
              type: object
              properties:
                noncashbenefitsID:
                  type: string
                benefitsfromanysource:
                  type: integer
                othersource:
                  type: integer
                othersourceidentify:
                  type: string
                othertanf:
                  type: integer
                rentalassistanceongoing:
                  type: integer
                rentalassistancetemp:
                  type: integer
                snap:
                  type: integer
                tanfchildcare:
                  type: integer
                tanftransportation:
                  type: integer
                wic:
                  type: integer
  pathstatus_id_json:
    type: object
    properties:
      pathstatus:
        type: object
        properties:
          pathstatusId:
            type: string
          clientEnrolledInPath:
            type: integer
          reasonNotEnrolled:
            type: integer
          dateOfStatus:
            type: string
  pathstatus_ids_json:
    type: object
    properties:
      pathstatuses:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          pathstatuses:
            type: array
            items:
              type: object
              properties:
                pathstatusId:
                  type: string
                clientEnrolledInPath:
                  type: integer
                reasonNotEnrolled:
                  type: integer
                dateOfStatus:
                  type: string
  pathstatus_json:
    type: object
    properties:
      pathstatus:
        type: object
        properties:
          clientenrolledinpath:
            type: integer
          dateOfStatus:
            type: string
          clientEnrolledInPath:
            type: integer
          reasonNotEnrolled:
            type: integer
  project_json:
    type: object
    properties:
      project:
        type: object
        properties:
          projectName:
            type: string
          projectCommonName:
            type: string
          continuumProject:
            type: integer
          projectType:
            type: integer
          residentialAffiliation:
            type: integer
          targetPopulation:
            type: integer
          trackingMethod:
            type: integer
  organization_json:
    type: object
    properties:
      organization:
        type: object
        properties:
          organizationName:
            type: string
          organizationCommonName:
            type: string
  projectcoc_id_json:
    type: object
    properties:
      projectcoc:
        type: object
        properties:
          projectcocId:
            type: string
          coccode:
            type: string
          dateCreated:
            type: string
          dateUpdated:
            type: string
  projectcoc_ids_json:
    type: object
    properties:
      projectcocs:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          projectcocs:
            type: array
            items:
              type: object
              properties:
                projectcocId:
                  type: string
                coccode:
                  type: string
                dateCreated:
                  type: string
  projectcoc_json:
    type: object
    properties:
      projectcoc:
        type: object
        properties:
          coccode:
            type: string
  organization_id_json:
    type: object
    properties:
      organization:
        type: object
        properties:
          organizationId:
            type: string
          organizationCommonName:
            type: string
  organization_ids_json:
    type: object
    properties:
      Organizations:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          organizations:
            type: array
            items:
              type: object
              properties:
                organizationId:
                  type: string
                organizationCommonName:
                  type: string
                organizationName:
                  type: string
  projects_id_json:
    type: object
    properties:
      project:
        type: object
        properties:
          projectId:
            type: string
          projectName:
            type: string
          projectCommonName:
            type: string
          continuumProject:
            type: integer
          projectType:
            type: integer
          targetPopulation:
            type: integer
          trackingMethod:
            type: integer
          dateCreated:
            type: string
          dateUpdated:
            type: string
  projects_ids_json:
    type: object
    properties:
      projects:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          projects:
            type: array
            items:
              type: object
              properties:
                projectId:
                  type: string
                  required: false
                projectName:
                  type: string
                  required: false
                projectCommonName:
                  type: string
                  required: false
                continuumProject:
                  type: integer
                  required: false
                projectType:
                  type: integer
                  required: false
                residentialAffiliation:
                  type: integer
                  required: false
                targetPopulation:
                  type: integer
                  required: false
                trackingMethod:
                  type: integer
                  required: false
                dateCreated:
                  type: string
                  required: false
  residentialmoveindate_id_json:
    type: object
    properties:
      residentialmoveindate:
        type: object
        properties:
          residentialmoveindateId:
            type: string
          inpermanenthousing:
            type: integer
  residentialmoveindate_ids_json:
    type: object
    properties:
      residentialmoveindates:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          residentialmoveindates:
            type: array
            items:
              type: object
              properties:
                residentialmoveindateId:
                  type: string
                inpermanenthousing:
                  type: integer
                residentialmoveindate:
                  type: string
  residentialmoveindate_json:
    type: object
    properties:
      residentialmoveindate:
        type: object
        properties:
          inpermanenthousing:
            type: integer
          residentialmoveindate:
            type: string
  servicefareferral_id_json:
    type: object
    properties:
      servicefareferral:
        type: object
        properties:
          servicefareferralId:
            type: string
          serviceCategory:
            type: integer
          funderList:
            type: integer
          typeProvided:
            type: integer
          otherTypeProvided:
            type: string
          subTypeProvided:
            type: integer
          faAmount:
            type: number
          referralOutcome:
            type: integer
  servicefareferral_json:
    type: object
    properties:
      servicefareferral:
        type: object
        properties:
          serviceCategory:
            type: integer
          funderList:
            type: integer
          typeProvided:
            type: integer
          otherTypeProvided:
            type: string
          subTypeProvided:
            type: integer
          referralOutcome:
            type: integer
          faAmount:
            type: number
  servicefareferrals_ids_json:
    type: object
    properties:
      servicefareferrals:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          servicefareferrals:
            type: array
            items:
              type: object
              properties:
                servicefareferralId:
                  type: string
                serviceCategory:
                  type: integer
                funderList:
                  type: integer
                typeProvided:
                  type: integer
                otherTypeProvided:
                  type: string
                subTypeProvided:
                  type: integer
                faAmount:
                  type: number
                referralOutcome:
                  type: integer
  sites_id_json:
    type: object
    properties:
      site:
        type: object
        properties:
          siteId:
            type: string
          address:
            type: string
          city:
            type: string
          geocode:
            type: integer
          principalsite:
            type: integer
          state:
            type: string
          zip:
            type: string
          dateCreated:
            type: string
          dateUpdated:
            type: string
  sites_ids_json:
    type: object
    properties:
      sites:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          sites:
            type: array
            items:
              type: object
              properties:
                siteId:
                  type: string
                address:
                  type: string
                city:
                  type: string
                geocode:
                  type: integer
                principalsite:
                  type: integer
                state:
                  type: string
                zip:
                  type: string
                dateCreated:
                  type: string
  sites_json:
    type: object
    properties:
      site:
        type: object
        properties:
          address:
            type: string
          city:
            type: string
          geocode:
            type: integer
          principalsite:
            type: integer
          state:
            type: string
          zip:
            type: integer
  veteraninfo_id_json:
    type: object
    properties:
      veteranInfo:
        type: object
        properties:
          veteranInfoId:
            type: string
          yearEnteredService:
            type: integer
          yearSeparated:
            type: integer
          worldWar2:
            type: integer
          koreanWar:
            type: integer
          vietnamWar:
            type: integer
          desertStorm:
            type: integer
          afghanistanOef:
            type: integer
          iraqOif:
            type: integer
          iraqOnd:
            type: integer
          otherTheater:
            type: integer
          militaryBranch:
            type: integer
          dischargeStatus:
            type: integer
  veteraninfo_ids_json:
    type: object
    properties:
      veteranInfos:
        type: object
        properties:
          pagination:
            type: object
            properties:
              from:
                type: integer
              returned:
                type: integer
              total:
                type: integer
              maximum:
                type: integer
              sort:
                type: object
          veteranInfos:
            type: array
            items:
              type: object
              properties:
                veteranInfoId:
                  type: string
                yearEnteredService:
                  type: integer
                  required: false
                yearSeparated:
                  type: integer
                  required: false
                worldWar2:
                  type: integer
                koreanWar:
                  type: integer
                vietnamWar:
                  type: integer
                desertStorm:
                  type: integer
                afghanistanOef:
                  type: integer
                iraqOif:
                  type: integer
                iraqOnd:
                  type: integer
                otherTheater:
                  type: integer
                militaryBranch:
                  type: integer
                dischargeStatus:
                  type: integer
  veteraninfo_json:
    type: object
    properties:
      veteranInfo:
        type: object
        properties:
          yearEnteredService:
            type: integer
            required: false
          yearSeparated:
            type: integer
            required: false
          worldWar2:
            type: integer
          koreanWar:
            type: integer
          vietnamWar:
            type: integer
          desertStorm:
            type: integer
          afghanistanOef:
            type: integer
          iraqOif:
            type: integer
          iraqOnd:
            type: integer
          otherTheater:
            type: integer
          militaryBranch:
            type: integer
          dischargeStatus:
            type: integer
resourceTypes:
  collection:
    description: 'Operations performed on the set of all HMIS <<resourcePathName>> within the system, and for adding a new <<resourcePathName|!singularize>> to the set of <<resourcePathName>> '
    get:
      description: 'Searches for <<resourcePathName|!singularize>>.  Returns a list of <<resourcePathName|!singularize>> ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
      responses:
        '200':
          description: OK – Everything is working.
          body:
            application/json:
              example: <<schema_ids_json_example>>
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: 500 – Internal Server Error
      queryParameters:
        CreatedAfter:
          description: searches for members of the collection created after (inclusive) a particular date
          example: 10-11-2011
          type: string
        CreatedBefore:
          description: searches for members of the collection created before (inclusive) a particular date
          example: 10-11-2012
          type: string
        UpdatedAfter:
          description: searches for members of the collection updated after (inclusive) a particular date
          example: 10-11-2011
          type: string
        UpdatedBefore:
          description: searches for members of the collection updated before (inclusive) a particular date
          example: 10-11-2012
          type: string
    post:
      description: |
        Add a <<resourcePathName|!singularize>>
      responses:
        '201':
          description: OK - New resource has been created.
          body:
            application/json:
              example: <<schema_id_json_example>>
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: 500 – Internal Server Error.
      body:
        application/json:
          example: <<schema_json_example>>
  member:
    get:
      description: Gets a <<resourcePathName|!singularize>> using a URI resource parameter/ID.
      responses:
        '200':
          description: OK – Everything is working.
          body:
            application/json:
              example: <<schema_id_json_example>>
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
    put:
      description: Updates a specific <<resourcePathName|!singularize>> specified by the URI resource parameter/ID.
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      body:
        application/json:
          example: <<schema_json_example>>
    delete:
      description: Deletes a specific <<resourcePathName|!singularize>> specified by the URI resource parameter/ID.
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
/v2015:
  /clients:
    description: 'Operations performed on the set of all HMIS clients within the system, and for adding a new client to the set of clients '
    type:
      collection:
        schema_id_json: id_clients_json
        schema_json: clients_json
        schema_ids_json: clients_ids_json
        schema_ids_json_example: |-
          {
             "Clients":{
                "pagination":{
                   "from":0,
                   "returned":27,
                   "total":30,
                   "maximum":30,
                   "sort":{

                   }
                },
                "clients":[
                   {
                      "clientId":"e7f87b3b-9282-4031-af3f-34bebc2c6cbf",
                      "firstName":"Bob",
                      "middleName":"Irwin",
                      "lastName":"Smith",
                      "nameSuffix":"Jr",
                      "nameDataQuality":1,
                      "ssn":"123456789",
                      "ssnDataQuality":1,
                      "dob":1459517834983,
                      "dobDataQuality":1,
                      "race":1,
                      "ethnicity":1,
                      "gender":1,
                      "otherGender":"Test",
                      "veteranStatus":"8",
                      "phoneNumber":"1-541-754-3010",
                      "emailAddress":"Jeanette@gmail.com"
                   },
                   {
                      "clientId":"bb1c4869-52af-4b4f-a9b6-a48f93c35294",
                      "firstName":"Fred",
                      "middleName":"Amos",
                      "lastName":"Bunyan",
                      "nameSuffix":"Sr.",
                      "nameDataQuality":1,
                      "ssn":"ssn      ",
                      "ssnDataQuality":1,
                      "dob":1459517834983,
                      "dobDataQuality":1,
                      "race":1,
                      "ethnicity":1,
                      "gender":1,
                      "otherGender":"Test",
                      "veteranStatus":"8"
                   },
                   {
                      "clientId":"2e31aed0-eb42-484d-9b42-8395b65a9ac7",
                      "firstName":"Agnes",
                      "middleName":"Faye",
                      "lastName":"Baker",
                      "nameSuffix":"III",
                      "nameDataQuality":1,
                      "ssn":"123456788",
                      "ssnDataQuality":1,
                      "dob":1459517834983,
                      "dobDataQuality":1,
                      "race":1,
                      "ethnicity":1,
                      "gender":1,
                      "otherGender":"Test",
                      "veteranStatus":"8"
                   },
                   {
                      "clientId":"edf4594b-8a89-4ee9-b5dc-3e7dd3374c8f",
                      "firstName":"Chester",
                      "middleName":"Blythe",
                      "lastName":"Mayhew",
                      "nameSuffix":"Jr",
                      "nameDataQuality":1,
                      "ssn":"123456787",
                      "ssnDataQuality":1,
                      "dob":1459517834983,
                      "dobDataQuality":1,
                      "race":1,
                      "ethnicity":1,
                      "gender":1,
                      "otherGender":"Test",
                      "veteranStatus":"8"
                   }
                ]
             }
          }
        schema_json_example: |-
          {
             "client":{
                "firstName":"First Name",
                "middleName":"Middle Name",
                "lastName":"LAST NAME",
                "nameSuffix":"NS",
                "nameDataQuality":1,
                "ssn":"123-45-6789",
                "ssnDataQuality":1,
                "dob":1459517834983,
                "dobDataQuality":1,
                "race":1,
                "ethnicity":1,
                "gender":1,
                "otherGender":"Test",
                "veteranStatus":8,
                "sourceSystemId":"ssid",
                "phoneNumber":"1-541-754-3010",
                "emailAddress":"Jeanette@gmail.com"
             }
          }
        schema_id_json_example: |-
          {
             "client":{
                "clientId":"c2e9be40-a644-46e2-9069-2feb0bdc7ee5"
             }
          }
    get:
      description: 'Searches for client.  Returns a list of client ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
      responses:
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: 500 – Internal Server Error
    post:
      description: |
        Add a client
      responses:
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: 500 – Internal Server Error.
    '/{clientid}':
      type:
        member:
          schema_json: clients_json
          schema_id_json: client_id_json
          schema_id_json_example: |-
            {
               "client":{
                  "clientId":"8547a63e-4659-412f-b5fa-200e03b62ae8",
                  "firstName":"Bob",
                  "middleName":"Edward",
                  "lastName":"Blass",
                  "nameSuffix":"Jr",
                  "nameDataQuality":1,
                  "ssn":"123456789",
                  "ssnDataQuality":1,
                  "dob":1459517834983,
                  "dobDataQuality":1,
                  "race":1,
                  "ethnicity":1,
                  "gender":1,
                  "otherGender":"Test",
                  "veteranStatus":"8",
                  "phoneNumber":"1-541-754-3010",
                  "emailAddress":"Jeanette@gmail.com"
               }
            }
          schema_json_example: |-
            {
               "client":{
                  "firstName":"First Name",
                  "middleName":"Middle Name",
                  "lastName":"LAST NAME",
                  "nameSuffix":"NS",
                  "nameDataQuality":1,
                  "ssn":"123-45-6789",
                  "ssnDataQuality":1,
                  "dob":1459517834983,
                  "dobDataQuality":1,
                  "race":1,
                  "ethnicity":1,
                  "gender":1,
                  "otherGender":"Test",
                  "veteranStatus":8,
                  "sourceSystemId":"ssid",
                  "phoneNumber":"1-541-754-3010",
                  "emailAddress":"Jeanette@gmail.com"
               }
            }
      get:
        description: Gets a client using a URI resource parameter/ID.
        responses:
          '400':
            description: Bad Request – The request was invalid or cannot be served.
          '401':
            description: Unauthorized – The request requires an user authentication.
          '403':
            description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
          '404':
            description: Not found – There is no resource behind the URI.
          '500':
            description: Internal Server Error
      put:
        description: Updates a specific client specified by the URI resource parameter/ID.
        responses:
          '200':
            description: OK – Everything is working.
          '304':
            description: Not Modified – The client can use cached data.
          '400':
            description: Bad Request – The request was invalid or cannot be served.
          '401':
            description: Unauthorized – The request requires a user.
          '403':
            description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
          '404':
            description: Not found – There is no resource behind the URI.
          '500':
            description: Internal Server Error.
      delete:
        description: Deletes a specific client specified by the URI resource parameter/ID.
        responses:
          '204':
            description: OK – The resource was successfully deleted.
          '400':
            description: Bad Request – The request was invalid or cannot be served.
          '401':
            description: Unauthorized – The request requires user authentication.
          '403':
            description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
          '404':
[...]
