openapi: 3.0.0
info:
  title: 2015 HMIS API
  version: 1.2.8
  contact:
    name: API Source
    email: support@hslynk.com
    url: https://github.com/hmis-api/2015-hmis-api
  # Name of the license and a URL to the license description.
  license:
    name: Open Source License
    url: https://github.com/hmis-api/2014-hmis-api/blob/master/LICENSE
  description: |
       **Note :**
              Please note that the partial updates are supported via PUT APIs. However, Note that If "null" value is passed for any element, in the PUT request body, it will be ignored. An empty string value should be sent (instead of "null" value) for the elements that need to be updated with NULL values.
servers:
  - url: 'https://api.hslynk.com/hmis-clientapi/rest/v2015'
paths:
  /clients:
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "Clients"
                    ],
                    "properties": {
                      "Clients": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "clients"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "clients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "links",
                                "clientId",
                                "dedupClientId",
                                "firstName",
                                "middleName",
                                "lastName",
                                "nameSuffix",
                                "nameDataQuality",
                                "ssn",
                                "ssnDataQuality",
                                "dob",
                                "dobDataQuality",
                                "race",
                                "ethnicity",
                                "gender",
                                "otherGender",
                                "veteranStatus",
                                "phoneNumber",
                                "emailAddress"
                              ],
                              "properties": {
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "rel",
                                      "href"
                                    ],
                                    "properties": {
                                      "rel": {
                                        "type": "string",
                                      },
                                      "href": {
                                        "type": "string",
                                      }
                                    }
                                  }
                                },
                                "clientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "dedupClientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "firstName": {
                                  "type": "string",
                                },
                                "middleName": {
                                  "type": "string",
                                },
                                "lastName": {
                                  "type": "string",
                                },
                                "nameSuffix": {
                                  "type": "string",
                                },
                                "nameDataQuality": {
                                  "type": "integer"
                                },
                                "ssn": {
                                  "type": "string",
                                },
                                "ssnDataQuality": {
                                  "type": "integer"
                                },
                                "dob": {
                                  "type": "integer"
                                },
                                "dobDataQuality": {
                                  "type": "integer"
                                },
                                "race": {
                                  "type": "integer"
                                },
                                "ethnicity": {
                                  "type": "integer"
                                },
                                "gender": {
                                  "type": "integer"
                                },
                                "otherGender": {
                                  "type": "string",
                                },
                                "veteranStatus": {
                                  "type": "string",
                                },
                                "phoneNumber": {
                                  "type": "string",
                                },
                                "emailAddress": {
                                  "type": "string",
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                    Clients:
                      pagination:
                        from: 0
                        returned: 27
                        total: 30
                        maximum: 30
                        sort: {}
                      clients:
                        - links:
                          - rel: history
                            href: "/clients/e7f87b3b-9282-4031-af3f-34bebc2c6cbf/history"
                          clientId: e7f87b3b-9282-4031-af3f-34bebc2c6cbf
                          dedupClientId: 46b89200-656a-11e8-985f-02fe61f7863e
                          firstName: Bob
                          middleName: Irwin
                          lastName: Smith
                          nameSuffix: Jr
                          nameDataQuality: 1
                          ssn: '123456789'
                          ssnDataQuality: 1
                          dob: 1459517834983
                          dobDataQuality: 1
                          race: 1
                          ethnicity: 1
                          gender: 1
                          otherGender: Test
                          veteranStatus: '8'
                          phoneNumber: 1-541-754-3010
                          emailAddress: Jeanette@gmail.com
                        - links:
                          - rel: history
                            href: "/clients/bb1c4869-52af-4b4f-a9b6-a48f93c35294/history"
                          clientId: bb1c4869-52af-4b4f-a9b6-a48f93c35294
                          firstName: Fred
                          middleName: Amos
                          lastName: Bunyan
                          nameSuffix: Sr.
                          nameDataQuality: 1
                          ssn: 'ssn      '
                          ssnDataQuality: 1
                          dob: 1459517834983
                          dobDataQuality: 1
                          race: 1
                          ethnicity: 1
                          gender: 1
                          otherGender: Test
                          veteranStatus: '8'
                        - links:
                          - rel: history
                            href: "/clients/2e31aed0-eb42-484d-9b42-8395b65a9ac7/history"
                          clientId: 2e31aed0-eb42-484d-9b42-8395b65a9ac7
                          firstName: Agnes
                          middleName: Faye
                          lastName: Baker
                          nameSuffix: III
                          nameDataQuality: 1
                          ssn: '123456788'
                          ssnDataQuality: 1
                          dob: 1459517834983
                          dobDataQuality: 1
                          race: 1
                          ethnicity: 1
                          gender: 1
                          otherGender: Test
                          veteranStatus: '8'
                        - links:
                          - rel: history
                            href: "/clients/edf4594b-8a89-4ee9-b5dc-3e7dd3374c8f/history"
                          clientId: edf4594b-8a89-4ee9-b5dc-3e7dd3374c8f
                          firstName: Chester
                          middleName: Blythe
                          lastName: Mayhew
                          nameSuffix: Jr
                          nameDataQuality: 1
                          ssn: '123456787'
                          ssnDataQuality: 1
                          dob: 1459517834983
                          dobDataQuality: 1
                          race: 1
                          ethnicity: 1
                          gender: 1
                          otherGender: Test
                          veteranStatus: '8'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for client.  Returns a list of client ids, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "client"
                    ],
                    "properties": {
                      "client": {
                        "type": "object",
                        "required": [
                          "clientId",
                          "dedupClientId",
                          "firstName",
                          "middleName",
                          "lastName",
                          "nameSuffix",
                          "nameDataQuality",
                          "ssn",
                          "ssnDataQuality",
                          "dob",
                          "dobDataQuality",
                          "race",
                          "ethnicity",
                          "gender",
                          "otherGender",
                          "veteranStatus",
                          "phoneNumber",
                          "emailAddress"
                        ],
                        "properties": {
                          "clientId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "dedupClientId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "firstName": {
                            "type": "string",
                          },
                          "middleName": {
                            "type": "string",
                          },
                          "lastName": {
                            "type": "string",
                          },
                          "nameSuffix": {
                            "type": "string",
                          },
                          "nameDataQuality": {
                            "type": "integer"
                          },
                          "ssn": {
                            "type": "string",
                          },
                          "ssnDataQuality": {
                            "type": "integer"
                          },
                          "dob": {
                            "type": "integer"
                          },
                          "dobDataQuality": {
                            "type": "integer"
                          },
                          "race": {
                            "type": "integer"
                          },
                          "ethnicity": {
                            "type": "integer"
                          },
                          "gender": {
                            "type": "integer"
                          },
                          "otherGender": {
                            "type": "string",
                          },
                          "veteranStatus": {
                            "type": "string",
                          },
                          "phoneNumber": {
                            "type": "string",
                          },
                          "emailAddress": {
                            "type": "string",
                          }
                        }
                      }
                    }
                  }
                example:
                  client:
                    clientId: 8547a63e-4659-412f-b5fa-200e03b62ae8
                    dedupClientId: 46b89200-656a-11e8-985f-02fe61f7863e
                    firstName: Bob
                    middleName: Edward
                    lastName: Blass
                    nameSuffix: Jr
                    nameDataQuality: 1
                    ssn: '123456789'
                    ssnDataQuality: 1
                    dob: 1459517834983
                    dobDataQuality: 1
                    race: 1
                    ethnicity: 1
                    gender: 1
                    otherGender: Test
                    veteranStatus: '8'
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
                    1)  an SSN value submitted as an empty string (not null) will be treated and stored by HSLynk as a nullified/deleted SSN data element
                    2) a full 9 digit SSN may be submitted
                    3) a partial SSN may be submitted, but one or more lower case 'x'(s) must be present in the locations of the missing actual SSN digits.
      operationId: POST_clients
      requestBody:
        content:
          application/json:
              schema:
                  {
                    "type": "object",
                    "required": [
                      "client"
                    ],
                    "properties": {
                      "client": {
                        "type": "object",
                        "required": [
                          "firstName",
                          "middleName",
                          "lastName",
                          "nameSuffix",
                          "nameDataQuality",
                          "ssn",
                          "ssnDataQuality",
                          "dob",
                          "dobDataQuality",
                          "race",
                          "ethnicity",
                          "gender",
                          "otherGender",
                          "veteranStatus",
                          "sourceSystemId",
                          "phoneNumber",
                          "emailAddress"
                        ],
                        "properties": {
                          "firstName": {
                            "type": "string",
                          },
                          "middleName": {
                            "type": "string",
                          },
                          "lastName": {
                            "type": "string",
                          },
                          "nameSuffix": {
                            "type": "string",
                          },
                          "nameDataQuality": {
                            "type": "integer"
                          },
                          "ssn": {
                            "type": "string",
                          },
                          "ssnDataQuality": {
                            "type": "integer"
                          },
                          "dob": {
                            "type": "integer"
                          },
                          "dobDataQuality": {
                            "type": "integer"
                          },
                          "race": {
                            "type": "integer"
                          },
                          "ethnicity": {
                            "type": "integer"
                          },
                          "gender": {
                            "type": "integer"
                          },
                          "otherGender": {
                            "type": "string",
                          },
                          "veteranStatus": {
                            "type": "integer"
                          },
                          "sourceSystemId": {
                            "type": "string",
                          },
                          "phoneNumber": {
                            "type": "string",
                          },
                          "emailAddress": {
                            "type": "string",
                          }
                        }
                      }
                    }
                  }
              example:
                  client:
                    firstName: First Name
                    middleName: Middle Name
                    lastName: LAST NAME
                    nameSuffix: NS
                    nameDataQuality: 1
                    ssn: 123-45-6789
                    ssnDataQuality: 1
                    dob: 1459517834983
                    dobDataQuality: 1
                    race: 1
                    ethnicity: 1
                    gender: 1
                    otherGender: Test
                    veteranStatus: 8
                    sourceSystemId: ssid
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        required: true
  '/clients/{clientid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                        type: object
                        properties:
                          client:
                            type: object
                            properties:
                              links:
                                type: array
                                items:
                                  anyOf:
                                  - type: object
                                    properties:
                                      rel:
                                        type: string
                                      href:
                                        type: string
                              clientId:
                                type: string
                                format: uuid
                              dedupClientId:
                                type: string
                                format: uuid
                              firstName:
                                type: string
                              middleName:
                                type: string
                              lastName:
                                type: string
                              nameSuffix:
                                type: string
                              nameDataQuality:
                                type: integer
                              ssn:
                                type: string
                              ssnDataQuality:
                                type: integer
                              dob:
                                type: integer
                              dobDataQuality:
                                type: integer
                              race:
                                type: integer
                              ethnicity:
                                type: integer
                              gender:
                                type: integer
                              veteranStatus:
                                type: string
                              sourceSystemId:
                                type: string
                              clildLinks:
                                type: object
                                properties:
                                  surveySubmissions:
                                    type: object
                                    properties:
                                      data:
                                        type: array
                                        items:
                                          anyOf:
                                          - type: object
                                            properties:
                                              rel:
                                                type: string
                                              href:
                                                type: string
                                  globalHouseHolds:
                                    type: object
                                    properties:
                                      data:
                                        type: array
                                        items:
                                          anyOf:
                                          - type: object
                                            properties:
                                              rel:
                                                type: string
                                              href:
                                                type: string
                                  eligibleClients:
                                    type: object
                                    properties:
                                      data:
                                        type: array
                                        items:
                                          anyOf:
                                          - type: object
                                            properties:
                                              rel:
                                                type: string
                                              href:
                                                type: string
                                  enrollments:
                                    type: object
                                    properties:
                                      data:
                                        type: array
                                        items:
                                          anyOf:
                                          - type: object
                                            properties:
                                              rel:
                                                type: string
                                              href:
                                                type: string

                example:
                    client:
                      links:
                      - rel: history
                        href: "/client/39059154-3c39-43d1-a137-df9a374cdfc1/history"
                      clientId: 39059154-3c39-43d1-a137-df9a374cdfc1
                      dedupClientId: 0e2ebdf0-95f2-11ea-b546-02fe61f7863e
                      firstName: 'Rainstorm                                         '
                      middleName: "                                                  "
                      lastName: 'Lace                                              '
                      nameSuffix: "                                                  "
                      nameDataQuality: 1
                      ssn: '101231'
                      ssnDataQuality: 1
                      dob: 89856000000
                      dobDataQuality: 1
                      race: 1
                      ethnicity: 0
                      gender: 0
                      veteranStatus: '0'
                      sourceSystemId: '61948'
                      clildLinks:
                        surveySubmissions:
                          data:
                          - rel: 2832b90d-1931-4f2d-a5cd-d8b289932b30
                            href: https://api.hslynk.com/survey-api/rest/clients/030522ec-c25e-4b84-b95d-2ae9d5a39af9/surveys/8860fc8b-b127-4811-b458-0ee8840962a9/submissions/2832b90d-1931-4f2d-a5cd-d8b289932b30
                          - rel: 71d17a8c-fc98-4a69-8e12-ac833c43f6b7
                            href: https://api.hslynk.com/survey-api/rest/clients/030522ec-c25e-4b84-b95d-2ae9d5a39af9/surveys/8860fc8b-b127-4811-b458-0ee8840962a9/submissions/71d17a8c-fc98-4a69-8e12-ac833c43f6b7
                          - rel: 57f3108d-2655-45c9-902d-2d7ec0d98a02
                            href: https://api.hslynk.com/survey-api/rest/clients/030522ec-c25e-4b84-b95d-2ae9d5a39af9/surveys/8860fc8b-b127-4811-b458-0ee8840962a9/submissions/57f3108d-2655-45c9-902d-2d7ec0d98a02
                        globalHouseHolds:
                          data:
                          - rel: 163fe034-162d-426c-b090-cb45c38f438d
                            href: https://api.hslynk.com/hmis-globalapi/rest/globalhouseholds/163fe034-162d-426c-b090-cb45c38f438d
                          - rel: 10da724e-bb2f-4094-bf9a-1c4ae1f6d378
                            href: https://api.hslynk.com/hmis-globalapi/rest/globalhouseholds/10da724e-bb2f-4094-bf9a-1c4ae1f6d378
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a client using a URI resource parameter/ID.
      operationId: GET_clients-clientid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: |
                    Updates a specific client specified by the URI resource parameter
                    /ID.
                    1)  an SSN value submitted as an empty string (not null) will be treated and stored by HSLynk as a nullified/deleted SSN data element
                    2) a full 9 digit SSN may be submitted
                    3) a partial SSN may be submitted, but one or more lower case 'x'(s) must be present in the locations of the missing actual SSN digits.
      operationId: PUT_clients-clientid
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "client"
                  ],
                  "properties": {
                    "client": {
                      "type": "object",
                      "required": [
                        "firstName",
                        "middleName",
                        "lastName",
                        "nameSuffix",
                        "nameDataQuality",
                        "ssn",
                        "ssnDataQuality",
                        "dob",
                        "dobDataQuality",
                        "race",
                        "ethnicity",
                        "gender",
                        "otherGender",
                        "veteranStatus",
                        "sourceSystemId",
                        "phoneNumber",
                        "emailAddress"
                      ],
                      "properties": {
                        "firstName": {
                          "type": "string",
                        },
                        "middleName": {
                          "type": "string",
                        },
                        "lastName": {
                          "type": "string",
                        },
                        "nameSuffix": {
                          "type": "string",
                        },
                        "nameDataQuality": {
                          "type": "integer"
                        },
                        "ssn": {
                          "type": "string",
                        },
                        "ssnDataQuality": {
                          "type": "integer"
                        },
                        "dob": {
                          "type": "integer"
                        },
                        "dobDataQuality": {
                          "type": "integer"
                        },
                        "race": {
                          "type": "integer"
                        },
                        "ethnicity": {
                          "type": "integer"
                        },
                        "gender": {
                          "type": "integer"
                        },
                        "otherGender": {
                          "type": "string",
                        },
                        "veteranStatus": {
                          "type": "integer"
                        },
                        "sourceSystemId": {
                          "type": "string",
                        },
                        "phoneNumber": {
                          "type": "string",
                        },
                        "emailAddress": {
                          "type": "string",
                        }
                      }
                    }
                  }
                }
              example:
                  client:
                    firstName: First Name
                    middleName: Middle Name
                    lastName: LAST NAME
                    nameSuffix: NS
                    nameDataQuality: 1
                    ssn: 123-45-6789
                    ssnDataQuality: 1
                    dob: 1459517834983
                    dobDataQuality: 1
                    race: 1
                    ethnicity: 1
                    gender: 1
                    otherGender: Test
                    veteranStatus: 8
                    sourceSystemId: ssid
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific client specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientid
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/history':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "Clients"
                    ],
                    "properties": {
                      "Clients": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "clients"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "clients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "clientId",
                                "dedupClientId",
                                "firstName",
                                "middleName",
                                "lastName",
                                "nameSuffix",
                                "nameDataQuality",
                                "ssn",
                                "ssnDataQuality",
                                "dob",
                                "dobDataQuality",
                                "race",
                                "ethnicity",
                                "gender",
                                "otherGender",
                                "veteranStatus",
                                "phoneNumber",
                                "emailAddress"
                              ],
                              "properties": {
                                "clientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "dedupClientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "firstName": {
                                  "type": "string",
                                },
                                "middleName": {
                                  "type": "string",
                                },
                                "lastName": {
                                  "type": "string",
                                },
                                "nameSuffix": {
                                  "type": "string",
                                },
                                "nameDataQuality": {
                                  "type": "integer"
                                },
                                "ssn": {
                                  "type": "string",
                                },
                                "ssnDataQuality": {
                                  "type": "integer"
                                },
                                "dob": {
                                  "type": "integer"
                                },
                                "dobDataQuality": {
                                  "type": "integer"
                                },
                                "race": {
                                  "type": "integer"
                                },
                                "ethnicity": {
                                  "type": "integer"
                                },
                                "gender": {
                                  "type": "integer"
                                },
                                "otherGender": {
                                  "type": "string",
                                },
                                "veteranStatus": {
                                  "type": "string",
                                },
                                "phoneNumber": {
                                  "type": "string",
                                },
                                "emailAddress": {
                                  "type": "string",
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                    Clients:
                      pagination:
                        from: 0
                        returned: 27
                        total: 30
                        maximum: 30
                        sort: {}
                      clients:
                        - clientId: e7f87b3b-9282-4031-af3f-34bebc2c6cbf
                          dedupClientId: 46b89200-656a-11e8-985f-02fe61f7863e
                          firstName: Bob
                          middleName: Irwin
                          lastName: Smith
                          nameSuffix: Jr
                          nameDataQuality: 1
                          ssn: '123456789'
                          ssnDataQuality: 1
                          dob: 1459517834983
                          dobDataQuality: 1
                          race: 1
                          ethnicity: 1
                          gender: 1
                          otherGender: Test
                          veteranStatus: '8'
                          phoneNumber: 1-541-754-3010
                          emailAddress: Jeanette@gmail.com
                        - clientId: bb1c4869-52af-4b4f-a9b6-a48f93c35294
                          firstName: Fred
                          middleName: Amos
                          lastName: Bunyan
                          nameSuffix: Sr.
                          nameDataQuality: 1
                          ssn: 'ssn      '
                          ssnDataQuality: 1
                          dob: 1459517834983
                          dobDataQuality: 1
                          race: 1
                          ethnicity: 1
                          gender: 1
                          otherGender: Test
                          veteranStatus: '8'
                        - clientId: 2e31aed0-eb42-484d-9b42-8395b65a9ac7
                          firstName: Agnes
                          middleName: Faye
                          lastName: Baker
                          nameSuffix: III
                          nameDataQuality: 1
                          ssn: '123456788'
                          ssnDataQuality: 1
                          dob: 1459517834983
                          dobDataQuality: 1
                          race: 1
                          ethnicity: 1
                          gender: 1
                          otherGender: Test
                          veteranStatus: '8'
                        - clientId: edf4594b-8a89-4ee9-b5dc-3e7dd3374c8f
                          firstName: Chester
                          middleName: Blythe
                          lastName: Mayhew
                          nameSuffix: Jr
                          nameDataQuality: 1
                          ssn: '123456787'
                          ssnDataQuality: 1
                          dob: 1459517834983
                          dobDataQuality: 1
                          race: 1
                          ethnicity: 1
                          gender: 1
                          otherGender: Test
                          veteranStatus: '8'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for client history.  Returns a list of client ids history, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-history

      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string

    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "enrollments"
                    ],
                    "properties": {
                      "enrollments": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "enrollments"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "enrollments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "rel",
                                      "href"
                                    ],
                                    "properties": {
                                      "rel": {
                                        "type": "string",
                                      },
                                      "href": {
                                        "type": "string",
                                      }
                                    }
                                  }
                                },
                                "enrollmentId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "disablingcondition": {
                                  "type": "integer"
                                },
                                "entrydate": {
                                  "type": "integer"
                                },
                                "householdid": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "housingstatus": {
                                  "type": "integer"
                                },
                                "monthshomelesspastthreeyears": {
                                  "type": "integer"
                                },
                                "otherresidenceprior": {
                                  "type": "string",
                                },
                                "relationshiptohoh": {
                                  "type": "integer"
                                },
                                "residenceprior": {
                                  "type": "integer"
                                },
                                "residencepriorlengthofstay": {
                                  "type": "integer"
                                },
                                "timeshomelesspastthreeyears": {
                                  "type": "integer"
                                },
                                "yearshomeless": {
                                  "type": "integer"
                                },
                                "entryfromstreetessh": {
                                  "type": "integer"
                                },
                                "dateCreated": {
                                  "type": "string",
                                  "format": "mm-dd-yyyy",
                                },
                                "chronicHomeless": {
                                  "type": "integer"
                                },
                                "hmisHouseholdId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "genericHouseHoldId":{
                                  "type": "string",
                                  "format": "uuid",
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                    enrollments:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      enrollments:
                        - links:
                          - rel: history
                            href: "/clients/8547a63e-4659-412f-b5fa-200e03b62ae8/enrollments/cc1da849-b877-4455-ab44-84bdb9991f97/history"
                          - rel: hmisHouseHold
                            href: "/hmis-clientapi/rest/v2014/hmishouseholds/8e956388-b909-41ea-b1d0-203e9cc15c45/"
                          enrollmentId: cc1da849-b877-4455-ab44-84bdb9991f97
                          disablingcondition: 0
                          entrydate: 1459517941736
                          householdid: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                          housingstatus: 3
                          monthshomelesspastthreeyears: 7
                          otherresidenceprior: '1'
                          relationshiptohoh: 2
                          residenceprior: 2
                          residencepriorlengthofstay: 4
                          timeshomelesspastthreeyears: 1
                          yearshomeless: 0
                          entryfromstreetessh: 1
                          dateCreated: 05-13-2016
                          chronicHomeless: 1
                          hmisHouseholdId: 8e956388-b909-41ea-b1d0-203e9cc15c45
                          genericHouseHoldId: 1520d4ac-2998-4825-80a6-2f550c37f3f1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollment.  Returns a list of enrollment ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "enrollment"
                    ],
                    "properties": {
                      "enrollment": {
                        "type": "object",
                        "properties": {
                          "enrollmentId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "disablingcondition": {
                            "type": "integer"
                          },
                          "entrydate": {
                            "type": "integer"
                          },
                          "householdid": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "housingstatus": {
                            "type": "integer"
                          },
                          "monthshomelesspastthreeyears": {
                            "type": "integer"
                          },
                          "otherresidenceprior": {
                            "type": "string",
                          },
                          "relationshiptohoh": {
                            "type": "integer"
                          },
                          "residenceprior": {
                            "type": "integer"
                          },
                          "residencepriorlengthofstay": {
                            "type": "integer"
                          },
                          "timeshomelesspastthreeyears": {
                            "type": "integer"
                          },
                          "yearshomeless": {
                            "type": "integer"
                          },
                          "entryfromstreetessh": {
                            "type": "integer"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "mm-dd-yyyy",
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "mm-dd-yyyy",
                          },
                            "chronicHomeless": {
                              "type": "integer"
                            },
                            "hmisHouseholdId": {
                              "type": "string",
                              "format": "uuid",
                            },
                                "genericHouseHoldId":{
                                  "type": "string",
                                  "format": "uuid",
                                }
                        }
                      }
                    }
                  }
                example:
                  enrollment:
                    enrollmentId: cc1da849-b877-4455-ab44-84bdb9991f97
                    disablingcondition: 0
                    entrydate: 1459517941736
                    householdid: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                    housingstatus: 3
                    monthshomelesspastthreeyears: 7
                    otherresidenceprior: '1'
                    relationshiptohoh: 2
                    residenceprior: 2
                    residencepriorlengthofstay: 4
                    timeshomelesspastthreeyears: 1
                    yearshomeless: 0
                    entryfromstreetessh: 1
                    dateCreated: 05-13-2016
                    dateUpdated: 05-13-2016
                    chronicHomeless: 1
                    hmisHouseholdId: 8e956388-b909-41ea-b1d0-203e9cc15c45
                    genericHouseHoldId: 1520d4ac-2998-4825-80a6-2f550c37f3f1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a enrollment
      operationId: POST_clients-clientid-enrollments
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "enrollment"
                  ],
                  "properties": {
                    "enrollment": {
                      "type": "object",
                      "properties": {
                        "continuouslyhomelessoneyear": {
                          "type": "integer"
                        },
                        "disablingcondition": {
                          "type": "integer"
                        },
                        "entrydate": {
                          "type": "integer"
                        },
                        "householdid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "housingstatus": {
                          "type": "integer"
                        },
                        "monthshomelesspastthreeyears": {
                          "type": "integer"
                        },
                        "monthshomelessthistime": {
                          "type": "integer"
                        },
                        "otherresidenceprior": {
                          "type": "string",
                        },
                        "personalid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "projectentryid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "projectid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "relationshiptohoh": {
                          "type": "integer"
                        },
                        "residenceprior": {
                          "type": "integer"
                        },
                        "residencepriorlengthofstay": {
                          "type": "integer"
                        },
                        "statusdocumented": {
                          "type": "integer"
                        },
                        "timeshomelesspastthreeyears": {
                          "type": "integer"
                        },
                        "yearshomeless": {
                          "type": "integer"
                        },
                        "entryfromstreetessh": {
                          "type": "integer"
                        },
                        "datetostreetessh": {
                          "type": "integer"
                        },
                        "chronicHomeless": {
                          "type": "integer"
                        },
                        "hmisHouseholdId": {
                          "type": "string",
                          "format": "uuid",
                        },
                                "genericHouseHoldId":{
                                  "type": "string",
                                  "format": "uuid",
                                }
                      }
                    }
                  }
                }
              example:
                  enrollment:
                    continuouslyhomelessoneyear: 1
                    disablingcondition: 0
                    entrydate: 1459517941736
                    householdid: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                    housingstatus: 3
                    monthshomelesspastthreeyears: 7
                    monthshomelessthistime: 1
                    otherresidenceprior: '1'
                    personalid: ba0ce84a-412e-4f3b-ae93-b903eb349754
                    projectentryid: a70b3fe4-1e0f-4288-835f-d88dacd2b84c
                    projectid: c7c41281-411b-4c93-a382-2cb20bc24a34
                    relationshiptohoh: 2
                    residenceprior: 2
                    residencepriorlengthofstay: 4
                    statusdocumented: 1
                    timeshomelesspastthreeyears: 1
                    yearshomeless: 2
                    entryfromstreetessh: 2
                    datetostreetessh: 1
                    chronicHomeless: 1
                    hmisHouseholdId: 8e956388-b909-41ea-b1d0-203e9cc15c45
                    genericHouseHoldId: 1520d4ac-2998-4825-80a6-2f550c37f3f1
        required: true
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}':
    get:
      parameters:
      - name: includeChildLinks
        in: query
        required: false
        schema:
          type: boolean
        description: >-
          To include enrollment child entity links in the response this flag must be set true. default value of this flag is false. The enrollment child entity links, will be grouped by dataCollectionStage and then infromationDate or updatedDate (if informationDate is not available). If dataCollectionStage is not available child entity links will be categorized as unassgined
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
             schema:
                        {
                            "type": "object",
                            "properties": {
                                "enrollment": {
                                    "type": "object",
                                    "properties": {
                                        "links": {
                                            "type": "array",
                                            "items": {
                                                "anyOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "rel": {
                                                                "type": "string"
                                                            },
                                                            "href": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "enrollmentId": {
                                            "type": "string"
                                        },
                                        "entryLinks": {
                                            "type": "object",
                                            "properties": {
                                                "rhsps": {
                                                    "type": "object",
                                                    "properties": {
                                                        "unspecified_stage": {
                                                            "type": "object",
                                                            "properties": {
                                                                "2018-09-23T18:48": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "2018-09-23T19:56": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "2018-09-25T09:50": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "2018-09-25T09:51": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "entryrhys": {
                                                    "type": "object",
                                                    "properties": {
                                                        "1": {
                                                            "type": "object",
                                                            "properties": {
                                                                "2018-09-23T19:56": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "2018-11-14T12:10": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "2018-11-17T12:09": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "2018-11-20T12:09": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "2": {
                                                            "type": "object",
                                                            "properties": {
                                                                "2018-09-23T18:48": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "2018-11-14T12:10": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "href": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    "groupBy": {
                                                                                        "type": "string"
                                                                                    }
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                },
                                                                "2018-11-17T12:09": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "anyOf": [
                                                                            {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "anyOf": [
                                                                                                {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "rel": {
[...]
