openapi: 3.0.0
info:
  title: 2015 HMIS API
  version: 1.1.1
servers:
  - url: 'https://www.hslynk.com/hmis-clientapi/rest/v2015'
paths:
  /clients:
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                Clients:
                  pagination:
                    from: 0
                    returned: 27
                    total: 30
                    maximum: 30
                    sort: {}
                  clients:
                    - clientId: e7f87b3b-9282-4031-af3f-34bebc2c6cbf
                      firstName: Bob
                      middleName: Irwin
                      lastName: Smith
                      nameSuffix: Jr
                      nameDataQuality: 1
                      ssn: '123456789'
                      ssnDataQuality: 1
                      dob: 1459517834983
                      dobDataQuality: 1
                      race: 1
                      ethnicity: 1
                      gender: 1
                      otherGender: Test
                      veteranStatus: '8'
                      phoneNumber: 1-541-754-3010
                      emailAddress: Jeanette@gmail.com
                    - clientId: bb1c4869-52af-4b4f-a9b6-a48f93c35294
                      firstName: Fred
                      middleName: Amos
                      lastName: Bunyan
                      nameSuffix: Sr.
                      nameDataQuality: 1
                      ssn: 'ssn      '
                      ssnDataQuality: 1
                      dob: 1459517834983
                      dobDataQuality: 1
                      race: 1
                      ethnicity: 1
                      gender: 1
                      otherGender: Test
                      veteranStatus: '8'
                    - clientId: 2e31aed0-eb42-484d-9b42-8395b65a9ac7
                      firstName: Agnes
                      middleName: Faye
                      lastName: Baker
                      nameSuffix: III
                      nameDataQuality: 1
                      ssn: '123456788'
                      ssnDataQuality: 1
                      dob: 1459517834983
                      dobDataQuality: 1
                      race: 1
                      ethnicity: 1
                      gender: 1
                      otherGender: Test
                      veteranStatus: '8'
                    - clientId: edf4594b-8a89-4ee9-b5dc-3e7dd3374c8f
                      firstName: Chester
                      middleName: Blythe
                      lastName: Mayhew
                      nameSuffix: Jr
                      nameDataQuality: 1
                      ssn: '123456787'
                      ssnDataQuality: 1
                      dob: 1459517834983
                      dobDataQuality: 1
                      race: 1
                      ethnicity: 1
                      gender: 1
                      otherGender: Test
                      veteranStatus: '8'
              schema:
                $ref: '#/components/schemas/clients_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for client.  Returns a list of client ids, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  client:
                    clientId: 8547a63e-4659-412f-b5fa-200e03b62ae8
                    firstName: Bob
                    middleName: Edward
                    lastName: Blass
                    nameSuffix: Jr
                    nameDataQuality: 1
                    ssn: '123456789'
                    ssnDataQuality: 1
                    dob: 1459517834983
                    dobDataQuality: 1
                    race: 1
                    ethnicity: 1
                    gender: 1
                    otherGender: Test
                    veteranStatus: '8'
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a client
      operationId: POST_clients
      requestBody:
        content:
          application/json:
            example:
              client:
                firstName: First Name
                middleName: Middle Name
                lastName: LAST NAME
                nameSuffix: NS
                nameDataQuality: 1
                ssn: 123-45-6789
                ssnDataQuality: 1
                dob: 1459517834983
                dobDataQuality: 1
                race: 1
                ethnicity: 1
                gender: 1
                otherGender: Test
                veteranStatus: 8
                sourceSystemId: ssid
                phoneNumber: 1-541-754-3010
                emailAddress: Jeanette@gmail.com
            schema:
              $ref: '#/components/schemas/client'
        required: true
  '/clients/{clientid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                client:
                  clientId: 8547a63e-4659-412f-b5fa-200e03b62ae8
                  firstName: Bob
                  middleName: Edward
                  lastName: Blass
                  nameSuffix: Jr
                  nameDataQuality: 1
                  ssn: '123456789'
                  ssnDataQuality: 1
                  dob: 1459517834983
                  dobDataQuality: 1
                  race: 1
                  ethnicity: 1
                  gender: 1
                  otherGender: Test
                  veteranStatus: '8'
                  phoneNumber: 1-541-754-3010
                  emailAddress: Jeanette@gmail.com
              schema:
                $ref: '#/components/schemas/client_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a client using a URI resource parameter/ID.
      operationId: GET_clients-clientid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Updates a specific client specified by the URI resource parameter/ID.
      operationId: PUT_clients-clientid
      requestBody:
        content:
          application/json:
            example:
              client:
                firstName: First Name
                middleName: Middle Name
                lastName: LAST NAME
                nameSuffix: NS
                nameDataQuality: 1
                ssn: 123-45-6789
                ssnDataQuality: 1
                dob: 1459517834983
                dobDataQuality: 1
                race: 1
                ethnicity: 1
                gender: 1
                otherGender: Test
                veteranStatus: 8
                sourceSystemId: ssid
                phoneNumber: 1-541-754-3010
                emailAddress: Jeanette@gmail.com
            schema:
              $ref: '#/components/schemas/client'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific client specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientid
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                enrollments:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  enrollments:
                    - enrollmentId: cc1da849-b877-4455-ab44-84bdb9991f97
                      disablingcondition: 0
                      entrydate: 1459517941736
                      householdid: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                      housingstatus: 3
                      monthshomelesspastthreeyears: 7
                      otherresidenceprior: '1'
                      relationshiptohoh: 2
                      residenceprior: 2
                      residencepriorlengthofstay: 4
                      timeshomelesspastthreeyears: 1
                      yearshomeless: 0
                      entryfromstreetessh: 1
                      dateCreated: 05-13-2016
              schema:
                $ref: '#/components/schemas/enrollments_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollment.  Returns a list of enrollment ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  enrollment:
                    enrollmentId: cc1da849-b877-4455-ab44-84bdb9991f97
                    disablingcondition: 0
                    entrydate: 1459517941736
                    householdid: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                    housingstatus: 3
                    monthshomelesspastthreeyears: 7
                    otherresidenceprior: '1'
                    relationshiptohoh: 2
                    residenceprior: 2
                    residencepriorlengthofstay: 4
                    timeshomelesspastthreeyears: 1
                    yearshomeless: 0
                    entryfromstreetessh: 1
                    dateCreated: 05-13-2016
                    dateUpdated: 05-13-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a enrollment
      operationId: POST_clients-clientid-enrollments
      requestBody:
        content:
          application/json:
            example:
              enrollment:
                continuouslyhomelessoneyear: 1
                disablingcondition: 0
                entrydate: 1459517941736
                householdid: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                housingstatus: 3
                monthshomelesspastthreeyears: 7
                monthshomelessthistime: 1
                otherresidenceprior: '1'
                personalid: ba0ce84a-412e-4f3b-ae93-b903eb349754
                projectentryid: a70b3fe4-1e0f-4288-835f-d88dacd2b84c
                projectid: c7c41281-411b-4c93-a382-2cb20bc24a34
                relationshiptohoh: 2
                residenceprior: 2
                residencepriorlengthofstay: 4
                statusdocumented: 1
                timeshomelesspastthreeyears: 1
                yearshomeless: 2
                entryfromstreetessh: 2
                datetostreetessh: 1
            schema:
              $ref: '#/components/schemas/enrollment'
        required: true
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                enrollment:
                  enrollmentId: cc1da849-b877-4455-ab44-84bdb9991f97
                  disablingcondition: 0
                  entrydate: 1459517941736
                  householdid: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                  housingstatus: 3
                  monthshomelesspastthreeyears: 7
                  otherresidenceprior: '1'
                  relationshiptohoh: 2
                  residenceprior: 2
                  residencepriorlengthofstay: 4
                  timeshomelesspastthreeyears: 1
                  yearshomeless: 0
                  entryfromstreetessh: 1
                  dateCreated: 05-13-2016
                  dateUpdated: 05-13-2016
              schema:
                $ref: '#/components/schemas/enrollment_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a enrollment using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific enrollment specified by the URI resource
        parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid
      requestBody:
        content:
          application/json:
            example:
              enrollment:
                continuouslyhomelessoneyear: 1
                disablingcondition: 0
                entrydate: 1459517941736
                householdid: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                housingstatus: 3
                monthshomelesspastthreeyears: 7
                monthshomelessthistime: 1
                otherresidenceprior: '1'
                personalid: ba0ce84a-412e-4f3b-ae93-b903eb349754
                projectentryid: a70b3fe4-1e0f-4288-835f-d88dacd2b84c
                projectid: c7c41281-411b-4c93-a382-2cb20bc24a34
                relationshiptohoh: 2
                residenceprior: 2
                residencepriorlengthofstay: 4
                statusdocumented: 1
                timeshomelesspastthreeyears: 1
                yearshomeless: 2
                entryfromstreetessh: 2
                datetostreetessh: 1
            schema:
              $ref: '#/components/schemas/enrollment'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific enrollment specified by the URI resource
        parameter/ID.
      operationId: DELETE_clients-clientid-enrollments-enrollmentid
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/enrollmentcocs':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                enrollmentCocs:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  enrollmentCocs:
                    - enrollmentCocId: 60071b3a-2625-45b8-aa6e-23e99096b343
                      clientCode: 'Test                '
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/enrollment_cocs_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollmentcoc.  Returns a list of enrollmentcoc ids, based
        on the query parameters sent.  The query parameters are cumulative, so
        each additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-enrollmentcocs
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  enrollmentCoc:
                    enrollmentCocId: 60071b3a-2625-45b8-aa6e-23e99096b343
                    clientCode: Test
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a enrollmentcoc
      operationId: POST_clients-clientid-enrollments-enrollmentid-enrollmentcocs
      requestBody:
        content:
          application/json:
            example:
              enrollmentCoc:
                clientCode: Test
                informationDate: 04-18-2016
                dataCollectionStage: 1
            schema:
              $ref: '#/components/schemas/enrollment_coc'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/enrollmentcocs/{enrollmentcocid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                enrollmentCoc:
                  enrollmentCocId: 60071b3a-2625-45b8-aa6e-23e99096b343
                  clientCode: Test
                  dataCollectionStage: 1
                  informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/enrollment_coc_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a enrollmentcoc using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-enrollmentcocs-enrollmentcocid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific enrollmentcoc specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-enrollmentcocs-enrollmentcocid
      requestBody:
        content:
          application/json:
            example:
              enrollmentCoc:
                clientCode: Test
                informationDate: 04-18-2016
                dataCollectionStage: 1
            schema:
              $ref: '#/components/schemas/enrollment_coc'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific enrollmentcoc specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-enrollmentcocs-enrollmentcocid
    parameters:
      - name: enrollmentcocid
        in: path
        required: true
        schema:
          type: string
        description: Enrollmentcoc Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/educations':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                educations:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  educations:
                    - educationId: f91547a2-d13b-40a1-a1be-fed415c468a6
                      lastgradecompleted: 10
                      schoolStatus: 6
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/educations_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for education.  Returns a list of education ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-educations
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  education:
                    educationId: f91547a2-d13b-40a1-a1be-fed415c468a6
                    lastgradecompleted: 10
                    schoolStatus: 6
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a education
      operationId: POST_clients-clientid-enrollments-enrollmentid-educations
      requestBody:
        content:
          application/json:
            example:
              education:
                lastgradecompleted: 10
                schoolStatus: 6
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/education'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/educations/{educationid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                education:
                  educationId: f91547a2-d13b-40a1-a1be-fed415c468a6
                  lastgradecompleted: 10
                  schoolStatus: 6
                  dataCollectionStage: 1
                  informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/education_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a education using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid-educations-educationid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Updates a specific education specified by the URI resource parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid-educations-educationid
      requestBody:
        content:
          application/json:
            example:
              education:
                lastgradecompleted: 10
                schoolStatus: 6
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/education'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific education specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientid-enrollments-enrollmentid-educations-educationid
    parameters:
      - name: educationid
        in: path
        required: true
        schema:
          type: string
        description: Education Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/contacts':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                contacts:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  contacts:
                    - contactId: 169da295-22f9-41d9-b991-ada835b1e123
                      contactLocation: 3
              schema:
                $ref: '#/components/schemas/contacts_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for contact.  Returns a list of contact ids, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-contacts
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  contact:
                    contactId: 169da295-22f9-41d9-b991-ada835b1e123
                    contactLocation: 3
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a contact
      operationId: POST_clients-clientid-enrollments-enrollmentid-contacts
      requestBody:
        content:
          application/json:
            example:
              contact:
                contactLocation: 3
            schema:
              $ref: '#/components/schemas/contact'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/contacts/{contactid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                contact:
                  contactId: 169da295-22f9-41d9-b991-ada835b1e123
                  contactLocation: 3
              schema:
                $ref: '#/components/schemas/contact_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a contact using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid-contacts-contactid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Updates a specific contact specified by the URI resource parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid-contacts-contactid
      requestBody:
        content:
          application/json:
            example:
              contact:
                contactLocation: 3
            schema:
              $ref: '#/components/schemas/contact'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific contact specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientid-enrollments-enrollmentid-contacts-contactid
    parameters:
      - name: contactid
        in: path
        required: true
        schema:
          type: string
        description: Contact Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/dateofengagements':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                dateofengagements:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  dateofengagements:
                    - dateofengagementId: 61d17265-aa9f-4ed2-a146-2a94846f3dd3
                      dateofengagement: '04-07-2016 17:50'
              schema:
                $ref: '#/components/schemas/date_of_engagements_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for dateofengagement.  Returns a list of dateofengagement ids,
        based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-dateofengagements
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  dateofengagement:
                    dateofengagementId: 61d17265-aa9f-4ed2-a146-2a94846f3dd3
                    dateofengagement: '04-07-2016 17:50'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a dateofengagement
      operationId: POST_clients-clientid-enrollments-enrollmentid-dateofengagements
      requestBody:
        content:
          application/json:
            example:
              dateofengagement:
                dateofengagement: '04-07-2016 17:50'
            schema:
              $ref: '#/components/schemas/date_of_engagement'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/dateofengagements/{dateofengagementid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                dateofengagement:
                  dateofengagementId: 61d17265-aa9f-4ed2-a146-2a94846f3dd3
                  dateofengagement: '04-07-2016 17:50'
              schema:
                $ref: '#/components/schemas/date_of_engagement_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a dateofengagement using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-dateofengagements-dateofengagementid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific dateofengagement specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-dateofengagements-dateofengagementid
      requestBody:
        content:
          application/json:
            example:
              dateofengagement:
                dateofengagement: '04-07-2016 17:50'
            schema:
              $ref: '#/components/schemas/date_of_engagement'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific dateofengagement specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-dateofengagements-dateofengagementid
    parameters:
      - name: dateofengagementid
        in: path
        required: true
        schema:
          type: string
        description: Dateofengagement Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/disabilities':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                disabilitiesList:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  disabilitiesList:
                    - disabilitiesId: afeb939c-72d9-43e8-95e6-045a39843c10
                      disabilitytype: 6
                      disabilityresponse: -1994754550
                      indefiniteandimpairs: 0
                      documentationonfile: 0
                      receivingservices: 0
                      pathhowconfirmed: 99
                      pathsmiinformation: 0
                      tcellcountavailable: 1
                      tcellcount: 2
                      tcellcountsource: '3       '
                      viralLoadAvailable: 4
                      viralLoad: 5
                      viralLoadSource: 'test    '
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/disabilities_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for disability.  Returns a list of disability ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-disabilities
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  disabilities:
                    disabilitiesId: afeb939c-72d9-43e8-95e6-045a39843c10
                    disabilitytype: 6
                    disabilityresponse: -1994754550
                    indefiniteandimpairs: 0
                    documentationonfile: 0
                    receivingservices: 0
                    pathhowconfirmed: 99
                    pathsmiinformation: 0
                    tcellcountavailable: 1
                    tcellcount: 2
                    tcellcountsource: '3       '
                    viralLoadAvailable: 4
                    viralLoad: 5
                    viralLoadSource: 'test    '
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a disability
      operationId: POST_clients-clientid-enrollments-enrollmentid-disabilities
      requestBody:
        content:
          application/json:
            example:
              disabilities:
                disabilitytype: 6
                disabilityresponse: -1994754550
                documentationonfile: 0
                indefiniteandimpairs: 0
                pathhowconfirmed: 99
                receivingservices: 0
                pathsmiinformation: 0
                tcellcountavailable: 1
                tcellcount: 2
                tcellcountsource: 3
                viralLoadAvailable: 4
                viralLoad: 5
                viralLoadSource: test
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/disability'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/disabilities/{disabilityid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                disabilities:
                  disabilitiesId: afeb939c-72d9-43e8-95e6-045a39843c10
                  disabilitytype: 6
                  disabilityresponse: -1994754550
                  indefiniteandimpairs: 0
                  documentationonfile: 0
                  receivingservices: 0
                  pathhowconfirmed: 99
                  pathsmiinformation: 0
                  tcellcountavailable: 1
                  tcellcount: 2
                  tcellcountsource: '3       '
                  viralLoadAvailable: 4
                  viralLoad: 5
                  viralLoadSource: 'test    '
                  dataCollectionStage: 1
                  informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/disability_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a disability using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid-disabilities-disabilityid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific disability specified by the URI resource
        parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid-disabilities-disabilityid
      requestBody:
        content:
          application/json:
            example:
              disabilities:
                disabilitytype: 6
                disabilityresponse: -1994754550
                documentationonfile: 0
                indefiniteandimpairs: 0
                pathhowconfirmed: 99
                receivingservices: 0
                pathsmiinformation: 0
                tcellcountavailable: 1
                tcellcount: 2
                tcellcountsource: 3
                viralLoadAvailable: 4
                viralLoad: 5
                viralLoadSource: test
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/disability'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific disability specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-disabilities-disabilityid
    parameters:
      - name: disabilityid
        in: path
        required: true
        schema:
          type: string
        description: Disability Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/domesticviolences':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                domesticviolences:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  domesticviolences:
                    - domesticviolenceId: b4dcd92a-4d6c-44bb-bb07-4431ab48e806
                      domesticviolencevictim: 9
                      whenoccurred: 8
                      currentlyFleeing: -588416505
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/domestic_violences_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for domesticviolence.  Returns a list of domesticviolence ids,
        based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-domesticviolences
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  domesticviolence:
                    domesticviolenceId: b4dcd92a-4d6c-44bb-bb07-4431ab48e806
                    domesticviolencevictim: 9
                    whenoccurred: 8
                    currentlyFleeing: -588416505
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a domesticviolence
      operationId: POST_clients-clientid-enrollments-enrollmentid-domesticviolences
      requestBody:
        content:
          application/json:
            example:
              domesticviolence:
                domesticviolencevictim: 9
                whenoccurred: 8
                currentlyFleeing: -588416505
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/domestic_violence'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/domesticviolences/{domesticviolenceid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                domesticviolence:
                  domesticviolenceId: b4dcd92a-4d6c-44bb-bb07-4431ab48e806
                  domesticviolencevictim: 9
                  whenoccurred: 8
                  currentlyFleeing: -588416505
                  dataCollectionStage: 1
                  informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/domestic_violence_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a domesticviolence using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-domesticviolences-domesticviolenceid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific domesticviolence specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-domesticviolences-domesticviolenceid
      requestBody:
        content:
          application/json:
            example:
              domesticviolence:
                domesticviolencevictim: 9
                whenoccurred: 8
                currentlyFleeing: -588416505
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/domestic_violence'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific domesticviolence specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-domesticviolences-domesticviolenceid
    parameters:
      - name: domesticviolenceid
        in: path
        required: true
        schema:
          type: string
        description: Domesticviolence Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/employments':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                employments:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  employments:
                    - employmentId: 61fa7069-3d46-4b4f-86f5-44fc4e1d6131
                      employed: 0
                      employmentType: 2
                      notEmployedReason: 3
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/employments_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for employment.  Returns a list of employment ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-employments
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  employment:
                    employmentId: 61fa7069-3d46-4b4f-86f5-44fc4e1d6131
                    employed: 0
                    employmentType: 2
                    notEmployedReason: 3
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a employment
      operationId: POST_clients-clientid-enrollments-enrollmentid-employments
      requestBody:
        content:
          application/json:
            example:
              employment:
                employed: 0
                employmentType: 2
                notEmployedReason: 3
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/employment'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/employments/{employmentid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                employment:
                  employmentId: 61fa7069-3d46-4b4f-86f5-44fc4e1d6131
                  employed: 0
                  employmentType: 2
                  notEmployedReason: 3
                  dataCollectionStage: 1
                  informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/employment_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a employment using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid-employments-employmentid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific employment specified by the URI resource
        parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid-employments-employmentid
      requestBody:
        content:
          application/json:
            example:
              employment:
                employed: 0
                employmentType: 2
                notEmployedReason: 3
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/employment'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific employment specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-employments-employmentid
    parameters:
      - name: employmentid
        in: path
        required: true
        schema:
          type: string
        description: Employment Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/healthinsurances':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                healthinsurances:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  healthinsurances:
                    - healthinsuranceId: b7ccbf4c-980d-4163-a7a5-7eecf6829946
                      insurancefromanysource: 99
                      medicaid: 1
                      nomedicaidreason: 8
                      medicare: 99
                      nomedicarereason: 4
                      schip: 1
                      noschipreason: 2
                      novamedreason: 9
                      employerprovided: 1929555170
                      noemployerprovidedreason: 99
                      cobra: 1401014227
                      nocobrareason: 2
                      privatepay: 0
                      noprivatepayreason: 4
                      statehealthins: 0
                      nostatehealthinsreason: 8
                      otherSource: 688424562
                      otherSourceIdentify: 'test    '
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/health_insurances_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for healthinsurance.  Returns a list of healthinsurance ids,
        based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-healthinsurances
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  healthinsurance:
                    healthinsuranceId: b7ccbf4c-980d-4163-a7a5-7eecf6829946
                    insurancefromanysource: 99
                    medicaid: 1
                    nomedicaidreason: 8
                    medicare: 99
                    nomedicarereason: 4
                    schip: 1
                    noschipreason: 2
                    novamedreason: 9
                    employerprovided: 1929555170
                    noemployerprovidedreason: 99
                    cobra: 1401014227
                    nocobrareason: 2
                    privatepay: 0
                    noprivatepayreason: 4
                    statehealthins: 0
                    nostatehealthinsreason: 8
                    otherSource: 688424562
                    otherSourceIdentify: 'test    '
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a healthinsurance
      operationId: POST_clients-clientid-enrollments-enrollmentid-healthinsurances
      requestBody:
        content:
          application/json:
            example:
              healthinsurance:
                insurancefromanysource: 99
                medicaid: 1
                nomedicaidreason: 8
                medicare: 99
                nomedicarereason: 4
                schip: 1
                noschipreason: 2
                vamedicalservices: 9
                novamedreason: 9
                employerprovided: 1929555170
                noemployerprovidedreason: 99
                cobra: 1401014227
                nocobrareason: 2
                privatepay: 0
                noprivatepayreason: 4
                statehealthins: 0
                nostatehealthinsreason: 8
                otherSource: 688424562
                otherSourceIdentify: test
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/health_insurance'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/healthinsurances/{healthinsuranceid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                healthinsurance:
                  healthinsuranceId: b7ccbf4c-980d-4163-a7a5-7eecf6829946
                  insurancefromanysource: 99
                  medicaid: 1
                  nomedicaidreason: 8
                  medicare: 99
                  nomedicarereason: 4
                  schip: 1
                  noschipreason: 2
                  novamedreason: 9
                  employerprovided: 1929555170
                  noemployerprovidedreason: 99
                  cobra: 1401014227
                  nocobrareason: 2
                  privatepay: 0
                  noprivatepayreason: 4
                  statehealthins: 0
                  nostatehealthinsreason: 8
                  otherSource: 688424562
                  otherSourceIdentify: 'test    '
                  dataCollectionStage: 1
                  informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/health_insurance_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a healthinsurance using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-healthinsurances-healthinsuranceid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific healthinsurance specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-healthinsurances-healthinsuranceid
      requestBody:
        content:
          application/json:
            example:
              healthinsurance:
                insurancefromanysource: 99
                medicaid: 1
                nomedicaidreason: 8
                medicare: 99
                nomedicarereason: 4
                schip: 1
                noschipreason: 2
                vamedicalservices: 9
                novamedreason: 9
                employerprovided: 1929555170
                noemployerprovidedreason: 99
                cobra: 1401014227
                nocobrareason: 2
                privatepay: 0
                noprivatepayreason: 4
                statehealthins: 0
                nostatehealthinsreason: 8
                otherSource: 688424562
                otherSourceIdentify: test
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/health_insurance'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific healthinsurance specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-healthinsurances-healthinsuranceid
    parameters:
      - name: healthinsuranceid
        in: path
        required: true
        schema:
          type: string
        description: Healthinsurance Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/healthstatuses':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                healthstatuses:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  healthstatuses:
                    - healthstatusId: 81057685-4120-424f-9378-23bc45e01925
                      healthCategory: 27
                      healthStatus: 3
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
                      dueDate: 04-05-2016
              schema:
                $ref: '#/components/schemas/health_statuses_ids'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for healthstatus.  Returns a list of healthstatus ids, based on
        the query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-healthstatuses
      parameters:
        - name: CreatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection created after (inclusive) a
            particular date
          schema:
            type: string
        - name: CreatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection created before (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedAfter
          in: query
          required: true
          description: >-
            searches for members of the collection updated after (inclusive) a
            particular date
          schema:
            type: string
        - name: UpdatedBefore
          in: query
          required: true
          description: >-
            searches for members of the collection updated before (inclusive) a
            particular date
          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  healthstatus:
                    healthstatusId: 81057685-4120-424f-9378-23bc45e01925
                    healthCategory: 27
                    healthStatus: 3
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
                    dueDate: 04-05-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a healthstatus
      operationId: POST_clients-clientid-enrollments-enrollmentid-healthstatuses
      requestBody:
        content:
          application/json:
            example:
              healthstatus:
                healthCategory: 27
                healthStatus: 3
                dataCollectionStage: 1
                informationDate: 03-17-2016
                dueDate: '04-05-2016 11:12'
            schema:
              $ref: '#/components/schemas/health_status'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/healthstatuses/{healthstatusid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              example:
                healthstatus:
                  healthstatusId: 81057685-4120-424f-9378-23bc45e01925
                  healthCategory: 27
                  healthStatus: 3
                  dataCollectionStage: 1
                  informationDate: 03-17-2016
                  dueDate: 04-05-2016
              schema:
                $ref: '#/components/schemas/health_status_id'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a healthstatus using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-healthstatuses-healthstatusid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific healthstatus specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-healthstatuses-healthstatusid
      requestBody:
        content:
          application/json:
            example:
              healthstatus:
                healthCategory: 27
                healthStatus: 3
                dataCollectionStage: 1
                informationDate: 03-17-2016
                dueDate: '04-05-2016 11:12'
            schema:
              $ref: '#/components/schemas/health_status'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific healthstatus specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-healthstatuses-healthstatusid
    parameters:
      - name: healthstatusid
        in: path
[...]
