#%RAML 1.0
title: 2015 HMIS API
version: 1.0.1
mediaType: application/json
protocols:
  - HTTPS
baseUri: 'https://www.hmislynk.com/hmis-clientapi-v2015/rest/v2015'
securedBy: [oauth_2_0]
securitySchemes:
  oauth_2_0: !include securitySchemes/oauth_2_0.raml
types:
  affiliation_id: !include types/affiliation_id.json
  affiliation: !include types/affiliation.json
  affiliations_ids: !include types/affiliations_ids.json
  client_id_only: !include types/client_id_only.json
  client_id: !include types/client_id.json
  client: !include types/client.json
  clients_ids: !include types/clients_ids.json

resourceTypes:
  collection: !include types/collection.raml
  member: !include types/member.raml

/clients:
  type:
    collection:
      schema_ids: clients_ids
      schema_ids_example: !include examples/clients_ids_example.json
      schema: client
      schema_example: !include examples/client_example.json
      schema_id_example: !include examples/client_id_example.json
  /{clientid}:
    type:
       member:
        schema: client
        schema_id: client_id
        schema_id_example: !include examples/client_id_example.json
        schema_example: !include examples/client_example.json
    uriParameters:
      clientid:
        example: ADBC1111211111114111111111D1111V
        type: string
        displayName: Client Identifier
    /enrollments:
      description: 'Operations performed on the set of all HMIS enrollments within the system, and for adding a new enrollment to the set of enrollments '
      type:
        collection:
        
        post:
          description: |
            Add a enrollment
          responses:
            '400':
              description: Bad Request – The request was invalid or cannot be served.
            '401':
              description: Unauthorized – The request requires user authentication.
            '403':
              description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
            '404':
              description: Not found – There is no resource behind the URI.
            '422':
              description: Unprocessable Entity - Request body is incorrect.
            '500':
              description: 500 – Internal Server Error.
        '/{enrollmentid}':
          type:
            member:
              schema_json: enrollments_json
              schema_id_json: enrollment_id_json
              schema_id_json_example: |-
                {
                   "enrollment":{
                      "enrollmentId":"cc1da849-b877-4455-ab44-84bdb9991f97",
                      "disablingcondition":0,
                      "entrydate":1459517941736,
                      "householdid":"eca19be3-303b-47b0-a9ef-8832ab0fa13d",
                      "housingstatus":3,
                      "monthshomelesspastthreeyears":7,
                      "otherresidenceprior":"1",
                      "relationshiptohoh":2,
                      "residenceprior":2,
                      "residencepriorlengthofstay":4,
                      "timeshomelesspastthreeyears":1,
                      "yearshomeless":0,
                      "entryfromstreetessh":1,
                      "dateCreated":"05-13-2016",
                      "dateUpdated":"05-13-2016"
                   }
                }
              schema_json_example: |-
                {
                   "enrollment":{
                      "continuouslyhomelessoneyear":1,
                      "disablingcondition":0,
                      "entrydate":1459517941736,
                      "householdid":"eca19be3-303b-47b0-a9ef-8832ab0fa13d",
                      "housingstatus":3,
                      "monthshomelesspastthreeyears":7,
                      "monthshomelessthistime":1,
                      "otherresidenceprior":"1",
                      "personalid":"ba0ce84a-412e-4f3b-ae93-b903eb349754",
                      "projectentryid":"a70b3fe4-1e0f-4288-835f-d88dacd2b84c",
                      "projectid":"c7c41281-411b-4c93-a382-2cb20bc24a34",
                      "relationshiptohoh":2,
                      "residenceprior":2,
                      "residencepriorlengthofstay":4,
                      "statusdocumented":1,
                      "timeshomelesspastthreeyears":1,
                      "yearshomeless":2,
                      "entryfromstreetessh":2,
                      "datetostreetessh":1
                   }
                }
          get:
            description: Gets a enrollment using a URI resource parameter/ID.
            responses:
              '400':
                description: Bad Request – The request was invalid or cannot be served.
              '401':
                description: Unauthorized – The request requires an user authentication.
              '403':
                description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
              '404':
                description: Not found – There is no resource behind the URI.
              '500':
                description: Internal Server Error
          put:
            description: Updates a specific enrollment specified by the URI resource parameter/ID.
            responses:
              '200':
                description: OK – Everything is working.
              '304':
                description: Not Modified – The client can use cached data.
              '400':
                description: Bad Request – The request was invalid or cannot be served.
              '401':
                description: Unauthorized – The request requires a user.
              '403':
                description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
              '404':
                description: Not found – There is no resource behind the URI.
              '500':
                description: Internal Server Error.
          delete:
            description: Deletes a specific enrollment specified by the URI resource parameter/ID.
            responses:
              '204':
                description: OK – The resource was successfully deleted.
              '400':
                description: Bad Request – The request was invalid or cannot be served.
              '401':
                description: Unauthorized – The request requires user authentication.
              '403':
                description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
              '404':
                description: Not found – There is no resource behind the URI.
              '500':
                description: Internal Server Error.
          uriParameters:
            enrollmentid:
              example: ADBC1111211111114111111111D1111V
              type: string
              displayName: Client Identifier
          /enrollmentcocs:
            description: 'Operations performed on the set of all HMIS enrollmentcocs within the system, and for adding a new enrollmentcoc to the set of enrollmentcocs '
            type:
              collection:
                schema_id_json: id_enrollmentcoc_json
                schema_json: enrollmentcoc_json
                schema_ids_json: enrollmentcoc_ids_json
                schema_ids_json_example: |-
                  {
                     "enrollmentCocs":{
                        "pagination":{
                           "from":0,
                           "returned":1,
                           "total":1,
                           "maximum":30,
                           "sort":{

                           }
                        },
                        "enrollmentCocs":[
                           {
                              "enrollmentCocId":"60071b3a-2625-45b8-aa6e-23e99096b343",
                              "clientCode":"Test                ",
                              "informationDate":"04-18-2016"
                           }
                        ]
                     }
                  }
                schema_json_example: |-
                  {
                     "enrollmentCoc":{
                        "enrollmentCocId":"60071b3a-2625-45b8-aa6e-23e99096b343",
                        "informationDate":"04-15-2016 11:11",
                        "clientCode":"Test"
                     }
                  }
                schema_id_json_example: |-
                  {
                     "enrollmentCoc":{
                        "enrollmentCocId":"60071b3a-2625-45b8-aa6e-23e99096b343"
                     }
                  }
            get:
              description: 'Searches for enrollmentcoc.  Returns a list of enrollmentcoc ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
            post:
              description: |
                Add a enrollmentcoc
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
            '/{enrollmentcocid}':
              type:
                member:
                  schema_json: enrollmentcoc_json
                  schema_id_json: enrollmentcoc_id_json
                  schema_id_json_example: |-
                    {
                       "enrollmentCoc":{
                          "enrollmentCocId":"60071b3a-2625-45b8-aa6e-23e99096b343",
                          "clientCode":"Test                ",
                          "informationDate":"04-18-2016"
                       }
                    }
                  schema_json_example: |-
                    {
                       "enrollmentCoc":{
                          "enrollmentCocId":"60071b3a-2625-45b8-aa6e-23e99096b343",
                          "informationDate":"04-15-2016 11:11",
                          "clientCode":"Test"
                       }
                    }
              get:
                description: Gets a enrollmentcoc using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
              put:
                description: Updates a specific enrollmentcoc specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              delete:
                description: Deletes a specific enrollmentcoc specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              uriParameters:
                enrollmentcocid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: EnrollmentCoC Identifier
          /educations:
            description: 'Operations performed on the set of all HMIS educations within the system, and for adding a new education to the set of educations '
            type:
              collection:
                schema_id_json: id_education_json
                schema_json: education_json
                schema_ids_json: education_ids_json
                schema_ids_json_example: |-
                  {
                     "educations":{
                        "pagination":{
                           "from":0,
                           "returned":1,
                           "total":1,
                           "maximum":30,
                           "sort":{

                           }
                        },
                        "educations":[
                           {
                              "educationId":"f91547a2-d13b-40a1-a1be-fed415c468a6",
                              "lastgradecompleted":10,
                              "schoolStatus":6
                           }
                        ]
                     }
                  }
                schema_json_example: |-
                  {
                     "education":{
                        "lastgradecompleted":10,
                        "schoolStatus":6
                     }
                  }
                schema_id_json_example: |-
                  {
                     "education":{
                        "educationId":"f91547a2-d13b-40a1-a1be-fed415c468a6"
                     }
                  }
            get:
              description: 'Searches for education.  Returns a list of education ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
            post:
              description: |
                Add a education
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
            '/{educationid}':
              type:
                member:
                  schema_json: education_json
                  schema_id_json: education_id_json
                  schema_id_json_example: |-
                    {
                       "education":{
                          "educationId":"f91547a2-d13b-40a1-a1be-fed415c468a6",
                          "lastgradecompleted":10,
                          "schoolStatus":6
                       }
                    }
                  schema_json_example: |-
                    {
                       "education":{
                          "lastgradecompleted":10,
                          "schoolStatus":6
                       }
                    }
              get:
                description: Gets a education using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
              put:
                description: Updates a specific education specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              delete:
                description: Deletes a specific education specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              uriParameters:
                educationid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Education Identifier
          /contacts:
            description: 'Operations performed on the set of all HMIS contacts within the system, and for adding a new contact to the set of contacts '
            type:
              collection:
                schema_id_json: id_contact_json
                schema_json: contact_json
                schema_ids_json: contact_ids_json
                schema_ids_json_example: |-
                  {
                     "contacts":{
                        "pagination":{
                           "from":0,
                           "returned":1,
                           "total":1,
                           "maximum":30,
                           "sort":{

                           }
                        },
                        "contacts":[
                           {
                              "contactId":"169da295-22f9-41d9-b991-ada835b1e123",
                              "contactLocation":3
                           }
                        ]
                     }
                  }
                schema_json_example: |-
                  {
                     "contact":{
                        "contactLocation":3
                     }
                  }
                schema_id_json_example: |-
                  {
                     "contact":{
                        "contactId":"169da295-22f9-41d9-b991-ada835b1e123"
                     }
                  }
            get:
              description: 'Searches for contact.  Returns a list of contact ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
            post:
              description: |
                Add a contact
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
            '/{contactid}':
              type:
                member:
                  schema_json: contact_json
                  schema_id_json: contact_id_json
                  schema_id_json_example: |-
                    {
                       "contact":{
                          "contactId":"169da295-22f9-41d9-b991-ada835b1e123",
                          "contactLocation":3
                       }
                    }
                  schema_json_example: |-
                    {
                       "contact":{
                          "contactLocation":3
                       }
                    }
              get:
                description: Gets a contact using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
              put:
                description: Updates a specific contact specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              delete:
                description: Deletes a specific contact specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              uriParameters:
                contactid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Contact Identifier
          /dateofengagements:
            description: 'Operations performed on the set of all HMIS dateofengagements within the system, and for adding a new dateofengagement to the set of dateofengagements '
            type:
              collection:
                schema_id_json: id_dateofengagements_json
                schema_json: dateofengagements_json
                schema_ids_json: dateofengagements_ids_json
                schema_json_example: |-
                  {
                     "dateofengagement":{
                        "dateofengagement":"04-07-2016 17:50"
                     }
                  }
                schema_ids_json_example: |-
                  {
                     "dateofengagements":{
                        "pagination":{
                           "from":0,
                           "returned":1,
                           "total":1,
                           "maximum":30,
                           "sort":{

                           }
                        },
                        "dateofengagements":[
                           {
                              "dateofengagementId":"61d17265-aa9f-4ed2-a146-2a94846f3dd3",
                              "dateofengagement":"04-07-2016 17:50"
                           }
                        ]
                     }
                  }
                schema_id_json_example: |-
                  {
                     "dateofengagement":{
                        "dateofengagementId":"61d17265-aa9f-4ed2-a146-2a94846f3dd3"
                     }
                  }
            get:
              description: 'Searches for dateofengagement.  Returns a list of dateofengagement ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
            post:
              description: |
                Add a dateofengagement
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
            '/{dateofengagementsid}':
              type:
                member:
                  schema_json: dateofengagements_json
                  schema_id_json: dateofengagements_id_json
                  schema_id_json_example: |-
                    {
                       "dateofengagement":{
                          "dateofengagementId":"61d17265-aa9f-4ed2-a146-2a94846f3dd3",
                          "dateofengagement":"04-07-2016 17:50"
                       }
                    }
                  schema_json_example: |-
                    {
                       "dateofengagement":{
                          "dateofengagement":"04-07-2016 17:50"
                       }
                    }
              get:
                description: Gets a dateofengagement using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
              put:
                description: Updates a specific dateofengagement specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              delete:
                description: Deletes a specific dateofengagement specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              uriParameters:
                dateofengagementsid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: DateOfEngagements Identifier
          /disabilities:
            description: 'Operations performed on the set of all HMIS disabilities within the system, and for adding a new disability to the set of disabilities '
            type:
              collection:
                schema_id_json: id_disabilities_json
                schema_json: disabilities_json
                schema_ids_json: disabilities_ids_json
                schema_json_example: |-
                  {
                     "disabilities":{
                        "disabilitytype":6,
                        "disabilityresponse":-1994754550,
                        "documentationonfile":0,
                        "indefiniteandimpairs":0,
                        "pathhowconfirmed":99,
                        "receivingservices":0,
                        "pathsmiinformation":0,
                        "tcellcountavailable":1,
                        "tcellcount":2,
                        "tcellcountsource":3,
                        "viralLoadAvailable":4,
                        "viralLoad":5,
                        "viralLoadSource":"test",
                        "informationDate":"04-05-2016 11:12"
                     }
                  }
                schema_ids_json_example: |-
                  {
                     "disabilitiesList":{
                        "pagination":{
                           "from":0,
                           "returned":1,
                           "total":1,
                           "maximum":30,
                           "sort":{

                           }
                        },
                        "disabilitiesList":[
                           {
                              "disabilitiesId":"afeb939c-72d9-43e8-95e6-045a39843c10",
                              "disabilitytype":6,
                              "disabilityresponse":-1994754550,
                              "indefiniteandimpairs":0,
                              "documentationonfile":0,
                              "receivingservices":0,
                              "pathhowconfirmed":99,
                              "pathsmiinformation":0,
                              "tcellcountavailable":1,
                              "tcellcount":2,
                              "tcellcountsource":"3       ",
                              "viralLoadAvailable":4,
                              "viralLoad":5,
                              "viralLoadSource":"test    ",
                              "informationDate":"04-05-2016"
                           }
                        ]
                     }
                  }
                schema_id_json_example: |-
                  {
                     "disabilities":{
                        "disabilitiesId":"80f63d5d-f4db-43a5-afb6-74421df88375"
                     }
                  }
            get:
              description: 'Searches for disability.  Returns a list of disability ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
            post:
              description: |
                Add a disability
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
            '/{disabilitiesid}':
              type:
                member:
                  schema_json: disabilities_json
                  schema_id_json: disabilities_id_json
                  schema_json_example: |-
                    {
                       "disabilities":{
                          "disabilitytype":6,
                          "disabilityresponse":-1994754550,
                          "documentationonfile":0,
                          "indefiniteandimpairs":0,
                          "pathhowconfirmed":99,
                          "receivingservices":0,
                          "pathsmiinformation":0,
                          "tcellcountavailable":1,
                          "tcellcount":2,
                          "tcellcountsource":3,
                          "viralLoadAvailable":4,
                          "viralLoad":5,
                          "viralLoadSource":"test",
                          "informationDate":"04-05-2016 11:12"
                       }
                    }
                  schema_id_json_example: |-
                    {
                       "disabilities":{
                          "disabilitiesId":"afeb939c-72d9-43e8-95e6-045a39843c10",
                          "disabilitytype":6,
                          "disabilityresponse":-1994754550,
                          "indefiniteandimpairs":0,
                          "documentationonfile":0,
                          "receivingservices":0,
                          "pathhowconfirmed":99,
                          "pathsmiinformation":0,
                          "tcellcountavailable":1,
                          "tcellcount":2,
                          "tcellcountsource":"3       ",
                          "viralLoadAvailable":4,
                          "viralLoad":5,
                          "viralLoadSource":"test    ",
                          "informationDate":"04-05-2016"
                       }
                    }
              get:
                description: Gets a disability using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
              put:
                description: Updates a specific disability specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              delete:
                description: Deletes a specific disability specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              uriParameters:
                disabilitiesid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Disabilities Identifier
          /domesticviolences:
            description: 'Operations performed on the set of all HMIS domesticviolences within the system, and for adding a new domesticviolence to the set of domesticviolences '
            type:
              collection:
                schema_id_json: id_domesticviolences_json
                schema_json: domesticviolence_json
                schema_ids_json: domesticviolence_ids_json
                schema_json_example: |-
                  {
                     "domesticviolence":{
                        "domesticviolencevictim":9,
                        "whenoccurred":8,
                        "currentlyFleeing":-588416505
                     }
                  }
                schema_ids_json_example: |-
                  {
                     "domesticviolences":{
                        "pagination":{
                           "from":0,
                           "returned":1,
                           "total":1,
                           "maximum":30,
                           "sort":{

                           }
                        },
                        "domesticviolences":[
                           {
                              "domesticviolenceId":"b4dcd92a-4d6c-44bb-bb07-4431ab48e806",
                              "domesticviolencevictim":9,
                              "whenoccurred":8,
                              "currentlyFleeing":-588416505
                           }
                        ]
                     }
                  }
                schema_id_json_example: |-
                  {
                     "domesticviolence":{
                        "domesticviolenceId":"e416137a-b8fa-4724-8e3b-35ae0e4ef270"
                     }
                  }
            get:
              description: 'Searches for domesticviolence.  Returns a list of domesticviolence ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
            post:
              description: |
                Add a domesticviolence
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
            '/{domesticviolenceid}':
              type:
                member:
                  schema_json: domesticviolence_json
                  schema_id_json: domesticviolence_id_json
                  schema_json_example: |-
                    {
                       "domesticviolence":{
                          "domesticviolencevictim":9,
                          "whenoccurred":8,
                          "currentlyFleeing":-588416505
                       }
                    }
                  schema_id_json_example: |-
                    {
                       "domesticviolence":{
                          "domesticviolenceId":"b4dcd92a-4d6c-44bb-bb07-4431ab48e806",
                          "domesticviolencevictim":9,
                          "whenoccurred":8,
                          "currentlyFleeing":-588416505
                       }
                    }
              get:
                description: Gets a domesticviolence using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
              put:
                description: Updates a specific domesticviolence specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              delete:
                description: Deletes a specific domesticviolence specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              uriParameters:
                domesticviolenceid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: DomesticViolence Identifier
          /employments:
            description: 'Operations performed on the set of all HMIS employments within the system, and for adding a new employment to the set of employments '
            type:
              collection:
                schema_id_json: id_employments_json
                schema_json: employments_json
                schema_ids_json: employments_ids_json
                schema_json_example: |-
                  {
                     "employment":{
                        "employed":0,
                        "employmentType":2,
                        "notEmployedReason":3,
                        "informationDate":"04-07-2016 17:50"
                     }
                  }
                schema_ids_json_example: |-
                  {
                     "employments":{
                        "pagination":{
                           "from":0,
                           "returned":1,
                           "total":1,
                           "maximum":30,
                           "sort":{

                           }
                        },
                        "employments":[
                           {
                              "employmentId":"61fa7069-3d46-4b4f-86f5-44fc4e1d6131",
                              "employed":0,
                              "employmentType":2,
                              "notEmployedReason":3,
                              "informationDate":"04-07-2016"
                           }
                        ]
                     }
                  }
                schema_id_json_example: |-
                  {
                     "employment":{
                        "employmentId":"00756afb-fddd-4341-a758-a5e6c46d809f"
                     }
                  }
            get:
              description: 'Searches for employment.  Returns a list of employment ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
            post:
              description: |
                Add a employment
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
            '/{employmentsid}':
              type:
                member:
                  schema_json: employments_json
                  schema_id_json: employment_id_json
                  schema_id_json_example: |-
                    {
                       "employment":{
                          "employmentId":"61fa7069-3d46-4b4f-86f5-44fc4e1d6131",
                          "employed":0,
                          "employmentType":2,
                          "notEmployedReason":3,
                          "informationDate":"04-07-2016"
                       }
                    }
                  schema_json_example: |-
                    {
                       "employment":{
                          "employed":0,
                          "employmentType":2,
                          "notEmployedReason":3,
                          "informationDate":"04-07-2016 17:50"
                       }
                    }
              get:
                description: Gets a employment using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
              put:
                description: Updates a specific employment specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              delete:
                description: Deletes a specific employment specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              uriParameters:
                employmentsid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Employments Identifier
          /exits:
            description: 'Operations performed on the set of all HMIS exits within the system, and for adding a new exit to the set of exits '
            type:
              collection:
                schema_id_json: id_exits_json
                schema_json: exit_json
                schema_ids_json: exit_ids_json
                schema_json_example: |-
                  {
                     "exit":{
                        "exitDate":1459518853883,
                        "otherDestination":"TWENTY_FOUR",
                        "destination":6
                     }
                  }
                schema_ids_json_example: |-
                  {
                     "exits":{
                        "pagination":{
                           "from":0,
                           "returned":1,
                           "total":1,
                           "maximum":30,
                           "sort":{

                           }
                        },
                        "exits":[
                           {
                              "exitId":"89c350f4-9165-4898-bb8b-f8b096a1aa2d",
                              "exitDate":1459518853883,
                              "otherDestination":"TWENTY_FOUR",
                              "destination":6,
                              "dateCreated":"05-11-2016"
                           }
                        ]
                     }
                  }
                schema_id_json_example: |-
                  {
                     "exit":{
                        "exitId":"a9c3708e-0ac2-4b80-ad2b-52d8ff7e0ed2"
                     }
                  }
            get:
              description: 'Searches for exit.  Returns a list of exit ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
            post:
              description: |
                Add a exit
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
            '/{exitsid}':
              type:
                member:
                  schema_json: exit_json
                  schema_id_json: exit_id_json
                  schema_id_json_example: |-
                    {
                       "exit":{
                          "exitId":"89c350f4-9165-4898-bb8b-f8b096a1aa2d",
                          "exitDate":1459518853883,
                          "otherDestination":"TWENTY_FOUR",
                          "destination":6,
                          "dateCreated":"05-11-2016",
                          "dateUpdated":"05-11-2016"
                       }
                    }
                  schema_json_example: |-
                    {
                       "exit":{
                          "exitDate":1459518853883,
                          "otherDestination":"TWENTY_FOUR",
                          "destination":6
                       }
                    }
              get:
                description: Gets a exit using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
              put:
                description: Updates a specific exit specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              delete:
                description: Deletes a specific exit specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
              uriParameters:
                exitsid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Exits Identifier
              /exithousingassesments:
                description: 'Operations performed on the set of all HMIS exithousingassesments within the system, and for adding a new exithousingassesment to the set of exithousingassesments '
                type:
                  collection:
                    schema_id_json: id_exithousingassesment_json
                    schema_json: exithosingassessments_json
                    schema_ids_json: exithosingassessments_ids_json
                    schema_json_example: |-
                      {
                         "exithousingassessment":{
                            "housingassessment":5,
                            "subsidyinformation":4
                         }
                      }
                    schema_ids_json_example: |-
                      {
                         "exithousingassessments":{
                            "pagination":{
                               "from":0,
                               "returned":1,
                               "total":1,
                               "maximum":30,
                               "sort":{

                               }
                            },
                            "exithousingassessments":[
                               {
                                  "exithousingassessmentId":"a45e96ba-0287-4c9f-a1c2-5058a4acc1aa",
                                  "housingassessment":5,
                                  "subsidyinformation":4
                               }
                            ]
                         }
                      }
                    schema_id_json_example: |-
                      {
                         "exithousingassessment":{
                            "exithousingassessmentId":"a45e96ba-0287-4c9f-a1c2-5058a4acc1aa"
                         }
                      }
                get:
                  description: 'Searches for exithousingassesment.  Returns a list of exithousingassesment ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '500':
                      description: 500 – Internal Server Error
                post:
                  description: |
                    Add a exithousingassesment
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '401':
                      description: Unauthorized – The request requires user authentication.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '422':
                      description: Unprocessable Entity - Request body is incorrect.
                    '500':
                      description: 500 – Internal Server Error.
                '/{exithousingassesmentid}':
                  type:
                    member:
                      schema_json: exithosingassessments_json
                      schema_id_json: exithosingassessments_id_json
                      schema_json_example: |-
                        {
                           "exithousingassessment":{
                              "housingassessment":5,
                              "subsidyinformation":4
                           }
                        }
                      schema_id_json_example: |-
                        {
                           "exithousingassessment":{
                              "exithousingassessmentId":"a45e96ba-0287-4c9f-a1c2-5058a4acc1aa",
                              "housingassessment":5,
                              "subsidyinformation":4
                           }
                        }
                  get:
                    description: Gets a exithousingassesment using a URI resource parameter/ID.
                    responses:
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires an user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error
                  put:
                    description: Updates a specific exithousingassesment specified by the URI resource parameter/ID.
                    responses:
                      '200':
                        description: OK – Everything is working.
                      '304':
                        description: Not Modified – The client can use cached data.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires a user.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                  delete:
                    description: Deletes a specific exithousingassesment specified by the URI resource parameter/ID.
                    responses:
                      '204':
                        description: OK – The resource was successfully deleted.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                  uriParameters:
                    exithousingassesmentid:
                      example: ADBC1111211111114111111111D1111V
                      type: string
                      displayName: ExitHousingAssesments Identifier
              /housingassesmentdispositions:
                description: 'Operations performed on the set of all HMIS housingassesmentdispositions within the system, and for adding a new housingassesmentdisposition to the set of housingassesmentdispositions '
                type:
                  collection:
                    schema_id_json: id_housingassesmentdispositions_json
                    schema_json: housingassesmentdispositions_json
                    schema_ids_json: housingassesmentdispositions_ids_json
                    schema_json_example: |-
                      {
                         "housingAssessmentDisposition":{
                            "assessmentdisposition":3,
                            "otherdisposition":"lAP0q07uSY"
                         }
                      }
                    schema_ids_json_example: |-
                      {
                         "HousingAssessmentDispositions":{
                            "pagination":{
                               "from":0,
                               "returned":1,
                               "total":1,
                               "maximum":30,
                               "sort":{

                               }
                            },
                            "housingAssessmentDispositions":[
                               {
                                  "housingAssessmentDispositionId":"c08b6685-c03e-4151-87dc-34f367a4a968",
                                  "assessmentdisposition":3,
                                  "otherdisposition":"lAP0q07uSY",
                                  "dateCreated":"05-11-2016"
                               }
                            ]
                         }
                      }
                    schema_id_json_example: |-
                      {
                         "housingAssessmentDisposition":{
                            "housingAssessmentDispositionId":"c08b6685-c03e-4151-87dc-34f367a4a968"
                         }
                      }
                get:
                  description: 'Searches for housingassesmentdisposition.  Returns a list of housingassesmentdisposition ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '500':
                      description: 500 – Internal Server Error
                post:
                  description: |
                    Add a housingassesmentdisposition
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '401':
                      description: Unauthorized – The request requires user authentication.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '422':
                      description: Unprocessable Entity - Request body is incorrect.
                    '500':
                      description: 500 – Internal Server Error.
                '/{housingassesmentdispositionid}':
                  type:
                    member:
                      schema_json: housingassesmentdispositions_json
                      schema_id_json: housingassesmentdispositions_id_json
                      schema_json_example: |-
                        {
                           "housingAssessmentDisposition":{
                              "assessmentdisposition":3,
                              "otherdisposition":"lAP0q07uSY"
                           }
                        }
                      schema_id_json_example: |-
                        {
                           "housingAssessmentDisposition":{
                              "housingAssessmentDispositionId":"c08b6685-c03e-4151-87dc-34f367a4a968",
                              "assessmentdisposition":3,
                              "otherdisposition":"lAP0q07uSYlSKUifs",
                              "dateCreated":"05-11-2016",
                              "dateUpdated":"05-11-2016"
                           }
                        }
                  get:
                    description: Gets a housingassesmentdisposition using a URI resource parameter/ID.
                    responses:
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires an user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error
                  put:
                    description: Updates a specific housingassesmentdisposition specified by the URI resource parameter/ID.
                    responses:
                      '200':
                        description: OK – Everything is working.
                      '304':
                        description: Not Modified – The client can use cached data.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires a user.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                  delete:
                    description: Deletes a specific housingassesmentdisposition specified by the URI resource parameter/ID.
                    responses:
                      '204':
                        description: OK – The resource was successfully deleted.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                  uriParameters:
                    housingassesmentdispositionid:
                      example: ADBC1111211111114111111111D1111V
                      type: string
                      displayName: HousingAssesmentDisposition Identifier
            '/{exitid}':
              /exitpaths:
                description: 'Operations performed on the set of all HMIS exitpaths within the system, and for adding a new exitpath to the set of exitpaths '
                type:
                  collection:
                    schema_id_json: id_exitpath_json
                    schema_json: exitpath_json
                    schema_ids_json: exitpath_ids_json
                    schema_json_example: |-
                      {
                         "exitpath":{
                            "connectionWithSoar":9
                         }
                      }
                    schema_ids_json_example: |-
                      {
                         "exitpaths":{
                            "pagination":{
                               "from":0,
                               "returned":1,
                               "total":1,
                               "maximum":30,
                               "sort":{

                               }
                            },
                            "exitpaths":[
                               {
                                  "exitpathId":"46b4e67b-08f4-4962-9a1e-3ff614aaea23",
                                  "connectionWithSoar":9
                               }
                            ]
                         }
                      }
                    schema_id_json_example: |-
                      {
                        "exitpath": {
                          "exitpathId": "b5598c6c-d021-4f5f-9695-77f7f4685ed2"
                        }
                      }
                get:
                  description: 'Searches for exitpath.  Returns a list of exitpath ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '500':
                      description: 500 – Internal Server Error
                post:
                  description: |
                    Add a exitpath
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '401':
                      description: Unauthorized – The request requires user authentication.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '422':
                      description: Unprocessable Entity - Request body is incorrect.
                    '500':
                      description: 500 – Internal Server Error.
                '/{exitpathid}':
                  type:
                    member:
                      schema_json: exitpath_json
                      schema_id_json: exitpath_id_json
                      schema_json_example: |-
                        {
                           "exitpath":{
                              "connectionWithSoar":9
                           }
                        }
                      schema_id_json_example: |-
                        {
                           "exitpath":{
                              "exitpathId":"46b4e67b-08f4-4962-9a1e-3ff614aaea23"
                           }
                        }
                  get:
                    description: Gets a exitpath using a URI resource parameter/ID.
                    responses:
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires an user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error
                  put:
                    description: Updates a specific exitpath specified by the URI resource parameter/ID.
                    responses:
                      '200':
                        description: OK – Everything is working.
                      '304':
                        description: Not Modified – The client can use cached data.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires a user.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                  delete:
                    description: Deletes a specific exitpath specified by the URI resource parameter/ID.
                    responses:
                      '204':
                        description: OK – The resource was successfully deleted.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                  uriParameters:
                    exitpathid:
                      example: ADBC1111211111114111111111D1111V
                      type: string
                      displayName: ExitPath Identifier
              uriParameters:
                exitid: {}
              /exitrhys:
                description: 'Operations performed on the set of all HMIS exitrhys within the system, and for adding a new exitrhy to the set of exitrhys '
                type:
                  collection:
                    schema_id_json: id_exitrhy_json
                    schema_json: exitrhy_json
                    schema_ids_json: exitrhy_ids_json
                    schema_json_example: |-
                      {
                         "exitrhy":{
                            "projectCompletionStatus":3,
                            "earlyExitReason":1,
                            "familyReunificationAchieved":0,
                            "writtenAfterCarePlan":2,
                            "assistanceMainStreamBenefits":0,
                            "permenantHousingPlacement":1,
                            "tempShelterPlacement":2,
                            "exitCounseling":0,
                            "furtherFollowupServices":1,
                            "scheduledFollowupContacts":1,
                            "resourcePackage":1,
                            "otherAftercarePlanOrAction":2
                         }
                      }
                    schema_ids_json_example: |-
                      {
                         "exitrhys":{
                            "pagination":{
                               "from":0,
                               "returned":1,
                               "total":1,
                               "maximum":30,
                               "sort":{

                               }
                            },
                            "exitrhys":[
                               {
                                  "exitrhyId":"878d7b3f-91d8-4a5d-9eba-81b081f0a9f8",
                                  "projectCompletionStatus":3,
                                  "earlyExitReason":1,
                                  "familyReunificationAchieved":0,
                                  "writtenAfterCarePlan":2,
                                  "assistanceMainStreamBenefits":0,
                                  "permenantHousingPlacement":1,
                                  "tempShelterPlacement":2,
                                  "exitCounseling":0,
                                  "furtherFollowupServices":1,
                                  "scheduledFollowupContacts":1,
                                  "resourcePackage":1,
                                  "otherAftercarePlanOrAction":2
                               }
                            ]
                         }
                      }
                    schema_id_json_example: |-
                      {
                         "exitrhy":{
                            "exitrhyId":"878d7b3f-91d8-4a5d-9eba-81b081f0a9f8"
                         }
                      }
                get:
                  description: 'Searches for exitrhy.  Returns a list of exitrhy ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '500':
                      description: 500 – Internal Server Error
                post:
                  description: |
                    Add a exitrhy
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '401':
                      description: Unauthorized – The request requires user authentication.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '422':
                      description: Unprocessable Entity - Request body is incorrect.
                    '500':
                      description: 500 – Internal Server Error.
                '/{exitrhyid}':
                  type:
                    member:
                      schema_json: exitrhy_json
                      schema_id_json: exitrhy_id_json
                      schema_json_example: |-
                        {
                           "exitrhy":{
                              "projectCompletionStatus":3,
                              "earlyExitReason":1,
                              "familyReunificationAchieved":0,
                              "writtenAfterCarePlan":2,
                              "assistanceMainStreamBenefits":0,
                              "permenantHousingPlacement":1,
                              "tempShelterPlacement":2,
                              "exitCounseling":0,
                              "furtherFollowupServices":1,
                              "scheduledFollowupContacts":1,
                              "resourcePackage":1,
                              "otherAftercarePlanOrAction":2
                           }
                        }
                      schema_id_json_example: |-
                        {
                           "exitrhy":{
                              "exitrhyId":"878d7b3f-91d8-4a5d-9eba-81b081f0a9f8",
                              "projectCompletionStatus":3,
                              "earlyExitReason":1,
                              "familyReunificationAchieved":0,
                              "writtenAfterCarePlan":2,
                              "assistanceMainStreamBenefits":0,
                              "permenantHousingPlacement":1,
                              "tempShelterPlacement":2,
                              "exitCounseling":1,
                              "furtherFollowupServices":1,
                              "scheduledFollowupContacts":2,
                              "resourcePackage":1,
                              "otherAftercarePlanOrAction":2
                           }
                        }
                  get:
                    description: Gets a exitrhy using a URI resource parameter/ID.
                    responses:
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires an user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error
                  put:
                    description: Updates a specific exitrhy specified by the URI resource parameter/ID.
                    responses:
                      '200':
                        description: OK – Everything is working.
                      '304':
                        description: Not Modified – The client can use cached data.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires a user.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                  delete:
                    description: Deletes a specific exitrhy specified by the URI resource parameter/ID.
                    responses:
                      '204':
                        description: OK – The resource was successfully deleted.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                  uriParameters:
                    exitrhyid:
                      example: ADBC1111211111114111111111D1111V
                      type: string
                      displayName: Exitrhy Identifier
          /heathinsurances:
            description: 'Operations performed on the set of all HMIS heathinsurances within the system, and for adding a new heathinsurance to the set of heathinsurances '
            type:
              collection:
                schema_id_json: id_healthinsurance_json
                schema_json: healthinsurance_json
                schema_ids_json: healthinsurances_ids_json
                schema_json_example: |-
                  {
                     "healthinsurance":{
                        "insurancefromanysource":99,
                        "medicaid":1,
                        "nomedicaidreason":8,
                        "medicare":99,
                        "nomedicarereason":4,
                        "schip":1,
                        "noschipreason":2,
                        "vamedicalservices":9,
                        "novamedreason":9,
                        "employerprovided":1929555170,
                        "noemployerprovidedreason":99,
                        "cobra":1401014227,
                        "nocobrareason":2,
                        "privatepay":0,
                        "noprivatepayreason":4,
                        "statehealthins":0,
                        "nostatehealthinsreason":8,
                        "otherSource":688424562,
                        "otherSourceIdentify":"test"
                     }
                  }
                schema_ids_json_example: |-
                  {
                     "healthinsurances":{
                        "pagination":{
                           "from":0,
                           "returned":1,
                           "total":1,
                           "maximum":30,
                           "sort":{

                           }
                        },
                        "healthinsurances":[
                           {
                              "healthinsuranceId":"b7ccbf4c-980d-4163-a7a5-7eecf6829946",
                              "insurancefromanysource":99,
                              "medicaid":1,
                              "nomedicaidreason":8,
                              "medicare":99,
                              "nomedicarereason":4,
                              "schip":1,
                              "noschipreason":2,
                              "novamedreason":9,
                              "employerprovided":1929555170,
                              "noemployerprovidedreason":99,
                              "cobra":1401014227,
                              "nocobrareason":2,
                              "privatepay":0,
                              "noprivatepayreason":4,
                              "statehealthins":0,
                              "nostatehealthinsreason":8,
                              "otherSource":688424562,
                              "otherSourceIdentify":"test    "
                           }
                        ]
                     }
                  }
                schema_id_json_example: |-
                  {
                     "healthinsurance":{
                        "healthinsuranceId":"054629bc-b89c-4fdb-99fb-100245c33312"
                     }
                  }
            get:
              description: 'Searches for heathinsurance.  Returns a list of heathinsurance ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
            post:
              description: |
                Add a heathinsurance
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
            '/{healthinsuranceid}':
              type:
                member:
                  schema_json: healthinsurance_json
                  schema_id_json: healthinsurance_id_json
                  schema_json_example: |-
                    {
                       "healthinsurance":{
                          "insurancefromanysource":99,
                          "medicaid":1,
                          "nomedicaidreason":8,
                          "medicare":99,
                          "nomedicarereason":4,
                          "schip":1,
                          "noschipreason":2,
                          "vamedicalservices":9,
                          "novamedreason":9,
                          "employerprovided":1929555170,
                          "noemployerprovidedreason":99,
                          "cobra":1401014227,
                          "nocobrareason":2,
                          "privatepay":0,
                          "noprivatepayreason":4,
                          "statehealthins":0,
                          "nostatehealthinsreason":8,
                          "otherSource":688424562,
                          "otherSourceIdentify":"test"
                       }
                    }
                  schema_id_json_example: |-
                    {
                       "healthinsurance":{
                          "healthinsuranceId":"b7ccbf4c-980d-4163-a7a5-7eecf6829946",
                          "insurancefromanysource":99,
                          "medicaid":1,
                          "nomedicaidreason":8,
                          "medicare":99,
                          "nomedicarereason":4,
                          "schip":1,
                          "noschipreason":2,
                          "novamedreason":9,
                          "employerprovided":1929555170,
                          "noemployerprovidedreason":99,
                          "cobra":1401014227,
[...]
